<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/card.css">
</head>

<body>

<%- include('header', { user: currentUser }) %>

<div class="container-content container-page">
    <h1 class="page-title">About Anni</h1>
    <p class="page-desc">Welcome to Anni! We are glad that you are here!</p>
    <p class="page-desc">Anni is a place where you can view the memorable anniversaries in the past and leave your own memories. You can use Anni to simply browse for the anniversaries that you are interested in. While viewing the anni, you can like, bookmark, and edit the anniversaries. For some speacial events like birthdays, we will enable special actions like sending cakes. Anni also serves as a hub where you can leave your unique memories related to the anniversaries that you have experienced. Sharing your memories with users from all over the world is exciting! What’s more, Anni allows you to create and manage your own anniversaries.</p>
    <p class="page-desc">Special thanks to Andrew, Lydia, and JooHee that helped us carry out the project!</p>
</div>

<%- include('footer') %>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
</script>

</body>
</html>
