
<!DOCTYPE html>
<html>
<head>
    <body style="font-family:lato;">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">    
    <link href="ANNI HOME.css" rel="stylesheet" type="text/css">
</head>

  <header>
    <div class="navbar-container">
      <div class="mobile-menu-search-container">
        <div id="hamburger-menu-icon">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="20" height="2" rx="1" fill="#C6A48F"/>
            <rect y="14" width="20" height="2" rx="1" fill="#C6A48F"/>
            <rect y="7" width="15" height="2" rx="1" fill="#C6A48F"/>
          </svg>
        </div>


        <div class="mobile-search-icon">
          <i class="fas fa-search"></i>
        </div>
      </div>
      <div class="navbar-left">

        <div class="navbar-logo">
          <svg width="70px" height="52px" viewBox="0 0 70 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-193.000000, -169.000000)">
                <g id="Group" transform="translate(187.000000, 165.000000)">
                  <path d="M43.7959227,20.5904128 L61.8993215,53.1765306 C63.7768138,56.5560168 62.5592072,60.8176398 59.1797211,62.6951321 C58.1398151,63.2728576 56.9698303,63.5760311 55.7802205,63.5760311 L19.573423,63.5760311 C15.7074297,63.5760311 12.573423,60.4420244 12.573423,56.5760311 C12.573423,55.3864214 12.8765965,54.2164366 13.4543221,53.1765306 L31.5577208,20.5904128 C33.4352131,17.2109267 37.6968362,15.9933201 41.0763223,17.8708124 C42.2190027,18.5056349 43.1611002,19.4477324 43.7959227,20.5904128 Z" id="Triangle-Copy" stroke="#C6A48F" transform="translate(37.676822, 36.576031) rotate(-200.000000) translate(-37.676822, -36.576031) "></path>
                  <text id="anni" font-family="Avenir-Light, Avenir" font-size="24" font-weight="300" fill="#C6A48F">
                    <tspan x="33" y="36">anni</tspan>
                  </text>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="navbar-menu">
          <div class="navbar-menu-item">
            <a href="#">Home</a>
          </div>
          <div class="navbar-menu-item">
            <a href="#">Annis</a>
          </div>
          <div class="navbar-menu-item">
            <a href="#">About</a>
          </div>
        </div>
      </div>

      <div class="navbar-middle">
        <div class="navbar-logo">
          <svg width="70px" height="52px" viewBox="0 0 70 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-193.000000, -169.000000)">
                <g id="Group" transform="translate(187.000000, 165.000000)">
                  <path d="M43.7959227,20.5904128 L61.8993215,53.1765306 C63.7768138,56.5560168 62.5592072,60.8176398 59.1797211,62.6951321 C58.1398151,63.2728576 56.9698303,63.5760311 55.7802205,63.5760311 L19.573423,63.5760311 C15.7074297,63.5760311 12.573423,60.4420244 12.573423,56.5760311 C12.573423,55.3864214 12.8765965,54.2164366 13.4543221,53.1765306 L31.5577208,20.5904128 C33.4352131,17.2109267 37.6968362,15.9933201 41.0763223,17.8708124 C42.2190027,18.5056349 43.1611002,19.4477324 43.7959227,20.5904128 Z" id="Triangle-Copy" stroke="#C6A48F" transform="translate(37.676822, 36.576031) rotate(-200.000000) translate(-37.676822, -36.576031) "></path>
                  <text id="anni" font-family="Avenir-Light, Avenir" font-size="24" font-weight="300" fill="#C6A48F">
                    <tspan x="33" y="36">anni</tspan>
                  </text>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>


      <div class="navbar-right">

        <div class="account-photo">
          <!--<span style="font-size: 35px; color: #bdbdbd; font-weight: normal">-->
            <!--<i class="fas fa-circle"></i>-->
        </div>

        <div class="navbar-button">
          <a href="#" class="button">New Annis</a>
        </div>

        <div class="plus">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="9" width="20" height="2" rx="1" fill="#C6A48F"/>
            <rect x="9" y="20" width="20" height="2" rx="1" transform="rotate(-90 9 20)" fill="#C6A48F"/>
          </svg>

        </div>

        <div class="navbar-notification-icon">
          <i class="fas fa-bell"></i>
        </div>

        <div id="navbar-searchbar">
          <div class="navbar-search-input">
            <input type="text" name="searchbar" placeholder="Search">
          </div>
        </div>


        <div id="navbar-search-icon">
          <i class="fas fa-search"></i>
        </div>

        <script>
            $(document).ready(function(){
                $("#navbar-searchbar").hide();
                $("#navbar-search-icon").click(function(){
                    $("#navbar-searchbar").toggle();
                });
            });
        </script>

        <!--<script>-->
            <!--var searchIcon = document.getElementById("navbar-search-icon");-->
            <!--var searchBar = document.getElementById("navbar-searchbar");-->

            <!--searchIcon.onclick = function buttonOnClick() {-->
                <!--searchBar.style.display = "inline-block"; };-->
        <!--</script>-->
      </div>
    </div>

    <div id="mobile-menu">
      <div class="navbar-menu-item">
        <a href="#">Home</a>
      </div>
      <div class="navbar-menu-item">
        <a href="#">Annis</a>
      </div>
      <div class="navbar-menu-item">
        <a href="#">About</a>
      </div>
    </div>

    <script>
        $(document).ready(function(){
            $ ("#mobile-menu").hide();
            $("#hamburger-menu-icon").click(function(){
                $("#mobile-menu").toggle();
            });
        });
    </script>

    <div id="mobile-searchbar">
      <!--<div class="mobile-search-input">-->
        <input type="text" name="searchbar" placeholder="Search">
      </div>
    <!--</div>-->

    <script>
        $(document).ready(function(){
            $ ("#mobile-searchbar").hide();
            $(".mobile-search-icon").click(function(){
                $("#mobile-searchbar").toggle();
            });
        });
    </script>


    <!--<script>-->
        <!--var hamburgerIcon = document.getElementById("hamburger-menu-icon");-->
        <!--var mobileMenu = document.getElementById("mobile-menu");-->

        <!--hamburgerIcon.onclick = function buttonOnClick() {-->
            <!--mobileMenu.style.display = "flex"; };-->
    <!--</script>-->

  </header>    
    
 
<body>  
<div class="annihomefirstrow">
    <div class="home_slider">
        <ul>
          <li>Jan</li>
          <li>Feb</li>
          <li>Mar</li>
          <li>April</li>
          <li>May</li>
          <li>June</li>
          <li>July</li>
          <li>Aug</li>
          <li>Sep</li>
          <li>Oct</li>
          <li>Nov</li>
          <li>Dec</li>
        </ul>      
    </div> 
    <div class="annihome_part1">   
      <div class="month_event pure-g">
        <div class="first_picture pure-u-1 pure-u-md-1-2">
                  <img class="pure-img" src="http://brooklynbridgerealty.com/wp-content/uploads/2017/04/earth-day.jpg" alt="Earthday">
        </div>
        <div class="second_picture pure-u-1 pure-u-md-2-5">
                  <img class="pure-img" src="http://brooklynbridgerealty.com/wp-content/uploads/2017/04/earth-day.jpg" alt="Earthday">
        </div>
        <div class="third_picture pure-u-1 pure-u-md-2-5">
                <img class="pure-img" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Shakespeare.jpg" alt="Shakespeare">
        </div>
        <div class="forth_picture pure-u-1 pure-u-md-2-5">
                  <img class="pure-img" src="http://brooklynbridgerealty.com/wp-content/uploads/2017/04/earth-day.jpg" alt="Earthday">
        </div>
        <div class="See_all_annis pure-u-1 pure-u-md-1-5">
          <button class="button_see_all_annis">See all Annis</button>
        </div>
      </div>
    </div>
</div>  
 
  
    
<div class="line"></div>


   
<div class="annihome_part2">
    <h1>POPULAR ON ANNI</h1>
    <div class="first_group pure-g">
      <div class="second_row_image pure-u-1 pure-u-md-1-2">
        <img class="pure-img" src="http://brooklynbridgerealty.com/wp-content/uploads/2017/04/earth-day.jpg" alt="Earthday">
      </div>
      <div class="first_annotation pure-u-1 pure-u-md-1-2"> 
        <h4 class="text-box-head">Happy Earth Day</h4>
        <h5 class="text-box-subhead">April 22, 2019</h5>
        <div class="hot_comments_homepage">
          <h7>Hot comments</h7><br/>
          <div class="profile_comment">
            <div class="account_photo_group pure-u-1 pure-u-md-1-6">
              <div class="account_photo"></div>
            </div>
            <div class="user_words pure-u-1 pure-u-md-2-3">
              <h8>Novelist and play writers really need to thank him for inventing a universal cipher that can be easily applied to any suspense stories (way more than needed)</h8>
            </div>
            <div class="like-bookmark-edit-container">
                <div class="outline-icon-container pure-u-1 pure-u-md-1-9 style=width:100%">
                  <div class="outline-icon-like">
                    <i class="fas fa-heart" style="30px;"></i>
                  </div>
                </div>
                <div class="outline-icon-container pure-u-1 pure-u-md-1-9 style=width:100%">
                  <div class="outline-icon-bookmark">
                    <i class="fas fa-bookmark"></i>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second_group pure-g">
        <div class="second_row_image pure-u-1 pure-u-md-1-2">
          <img class="pure-img" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Shakespeare.jpg" alt="Shakespeare">
        </div>
        <div class="second_annotation pure-u-1 pure-u-md-1-2 style= width:100%"> 
        <h4 class="text-box-head">Happy Earth Day</h4>
        <h5 class="text-box-subhead">April 22, 2019</h5>
          <div class="hot_comments_homepage">
            <h7>Hot comments</h7><br/>
            <div class="profile_comment">
              <div class="account_photo_group pure-u-1 pure-u-md-1-6">
                <div class="account_photo"></div>
              </div>
              <div class="user_words pure-u-1 pure-u-md-2-3">
                <h8>Novelist and play writers really need to thank him for inventing a universal cipher that can be easily applied to any suspense stories (way more than needed)</h8>
              </div>
              <div class="like-bookmark-edit-container">
                  <div class="outline-icon-container pure-u-1 pure-u-md-1-9 style=width:100%">
                    <div class="outline-icon-like">
                      <i class="fas fa-heart" style="30px;"></i>
                    </div>
                  </div>
                  <div class="outline-icon-container pure-u-1 pure-u-md-1-9 style=width:100%">
                    <div class="outline-icon-bookmark">
                      <i class="fas fa-bookmark"></i>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="third_group pure-g">
      <div class="second_row_image pure-u-1 pure-u-md-1-2">
          <img class="pure-img" src="http://brooklynbridgerealty.com/wp-content/uploads/2017/04/earth-day.jpg" alt="Earthday">
          </div>
      <div class="third_annotation pure-u-1 pure-u-md-1-2 style= width:100%"> 
      <h4 class="text-box-head">Happy Earth Day</h4>
      <h5 class="text-box-subhead">April 22, 2019</h5>
        <div class="hot_comments_homepage">
          <h7>Hot comments</h7><br/>
          <div class="profile_comment">
            <div class="account_photo_group pure-u-1 pure-u-md-1-6">
              <div class="account_photo"></div>
            </div>
            <div class="user_words pure-u-1 pure-u-md-2-3">
              <h8>Novelist and play writers really need to thank him for inventing a universal cipher that can be easily applied to any suspense stories (way more than needed)</h8>
            </div>
            <div class="like-bookmark-edit-container">
                <div class="outline-icon-container pure-u-1 pure-u-md-1-9 style=width:100%">
                  <div class="outline-icon-like">
                    <i class="fas fa-heart" style="30px;"></i>
                  </div>
                </div>
                <div class="outline-icon-container pure-u-1 pure-u-md-1-9 style=width:100%">
                  <div class="outline-icon-bookmark">
                    <i class="fas fa-bookmark"></i>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="forth_group pure-g">
        <div class="second_row_image pure-u-1 pure-u-md-1-2 style= width:100%">
          <img class="pure-img" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Shakespeare.jpg" alt="Shakespeare">
        </div>
        <div class="fourth_annotation pure-u-1 pure-u-md-1-2 style= width:90%"> 
        <h4 class="text-box-head">Happy Earth Day</h4>
        <h5 class="text-box-subhead">April 22, 2019</h5>
          <div class="hot_comments_homepage">
            <h7>Hot comments</h7><br/>
            <div class="profile_comment">
              <div class="account_photo_group pure-u-1 pure-u-md-1-6">
                <div class="account_photo"></div>
              </div>
              <div class="user_words pure-u-1 pure-u-md-2-3">
                <h8>Novelist and play writers really need to thank him for inventing a universal cipher that can be easily applied to any suspense stories (way more than needed)</h8>
              </div>
              <div class="like-bookmark-edit-container">
                  <div class="outline-icon-container pure-u-1 pure-u-md-1-9 style=width:100%">
                    <div class="outline-icon-like">
                      <i class="fas fa-heart" style="30px;"></i>
                    </div>
                  </div>
                  <div class="outline-icon-container pure-u-1 pure-u-md-1-9 style=width:100%">
                    <div class="outline-icon-bookmark">
                      <i class="fas fa-bookmark"></i>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div> 
</div> 
    

    
<div class="line"></div>  
    
  
    
<div class="annihome">
  <h1>UPCOMMING ANNIVERASRIES</h1>
  <div class="last_row pure-g container">
    <div class="first_group_last_row pure-u-1 pure-u-md-1-3">
      <div class="last_row_image style= width:100%">
              <img class="pure-img" src="http://brooklynbridgerealty.com/wp-content/uploads/2017/04/earth-day.jpg" alt="Earthday">
      </div>
      <div class="annotation">
          <h2 class="text-box-head">Happy Earth Day</h2>
          <h3 class="text-box-subhead">April 22, 2019</h3>
      </div>
    </div>
    <div class="second_group_last_row pure-u-1 pure-u-md-1-3">
      <div class="last_row_image style= width:100%">
              <img class="pure-img" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Shakespeare.jpg" alt="Shakespeare">
      </div>
      <div class="annotation">
          <h2 class="text-box-head">William Shakespare's 455th Birthday</h2>
          <h3 class="text-box-subhead">April 26, 2019</h3>
      </div>
    </div>
    <div class="third_group_last_row pure-u-1 pure-u-md-1-3">
      <div class="last_row_image style= width:100%">
              <img class="pure-img" src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/morse_primary.jpg?itok=1bMq5kgU&resize=1100x1100" alt="Samuel Morse">
      </div>
      <div class="annotation">
          <h2 class="text-box-head">Samuel Morse's 228th Birthday</h2>
          <h3 class="text-box-subhead">April 27, 2019</h3>
      </div>
    </div>
  </div> 
  <div class="last_row pure-g container">
      <div class="forth_group_last_row pure-u-1 pure-u-md-1-3">
        <div class="last_row_image style= width:100%">
                <img class="pure-img" src="http://brooklynbridgerealty.com/wp-content/uploads/2017/04/earth-day.jpg" alt="Earthday">
        </div>
        <div class="annotation">
            <h2 class="text-box-head">Happy Earth Day</h2>
            <h3 class="text-box-subhead">April 22, 2019</h3>
        </div>
      </div>
      <div class="fifth_group_last_row pure-u-1 pure-u-md-1-3">
        <div class="last_row_image style= width:100%">
                <img class="pure-img" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Shakespeare.jpg" alt="Shakespeare">
        </div>
        <div class="annotation">
            <h2 class="text-box-head">William Shakespare's 455th Birthday</h2>
            <h3 class="text-box-subhead">April 26, 2019</h3>
        </div>
      </div>
      <div class="sixth_group_last_row pure-u-1 pure-u-md-1-3">
        <div class="last_row_image style= width:100%">
                <img class="pure-img" src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/morse_primary.jpg?itok=1bMq5kgU&resize=1100x1100" alt="Samuel Morse"> 
        </div>
        <div class="annotation">
            <h2 class="text-box-head">Samuel Morse's 228th Birthday</h2>
            <h3 class="text-box-subhead">April 27, 2019</h3>
        </div>
      </div>
    </div>              
</div>  
    
<div class="line"></div>
      
      
</body>
</html>


    
        
        
        
        
        