<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detail page</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="script-detail-page.js"></script>
  <script>
      var searchIcon = document.getElementById("navbar-search-icon");
      var searchBar = document.getElementById("navbar-searchbar");

      searchIcon.onclick = function buttonOnClick() {
          searchBar.style.display = "inline-block"; };
  </script>
</head>
<body>
<header>

  <div class="navbar-container">
    <div class="navbar-left">
      <div class="navbar-logo"></div>
      <div class="navbar-menu">
        <div class="navbar-menu-item">
          <a href="#">Home</a>
        </div>
        <div class="navbar-menu-item">
          <a href="#">Annis</a>
        </div>
        <div class="navbar-menu-item">
          <a href="#">About</a>
        </div>
      </div>
    </div>
    <div class="navbar-right">

      <div class="account-photo">
        <!--<span style="font-size: 35px; color: #bdbdbd; font-weight: normal">-->
          <!--<i class="fas fa-circle"></i>-->
      </div>

      <div class="navbar-button">
        <a href="#" class="button">New Annis</a>
      </div>

      <div class="navbar-notification-icon">
        <i class="fas fa-bell"></i>
      </div>

      <div id="navbar-searchbar">
        <div class="navbar-search-input">
          <input type="text" name="searchbar" placeholder="Search">
        </div>

      </div>

      <div id="navbar-search-icon">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>
</header>


<section class="main-body">
  <div class="annis-cover">

    <div class="cover-img-container">
      <img src="img/cover-samuel-morse.jpg" alt="">

    </div>

    <div class="cover-front-top-triangle">
      <img src="img/cover-front-top-triangle.svg" alt="">
    </div>
    <div class="cover-front-bottom-triangle">
      <img src="img/cover-front-top-triangle.svg" alt="">
    </div>
    <div class="cover-back-left-triangle">
      <img src="img/cover-back-left-triangle.svg" alt="">
    </div>
    <div class="cover-back-right-triangle">
      <img src="img/cover-front-top-triangle.svg" alt="">
    </div>

    <div class="cover-title-container">
      <div class="cover-title-number-container">
        <div class="cover-title-number">
          <p>228</p>
        </div>
        <div class="cover-title-number-th">
          <p>th</p>
        </div>
      </div>
      <div class="cover-title-text">
        <p>Samuel Morse's Birthday</p>
      </div>
      <div class="cover-title-date">
        <p>April 27, 2019</p>
      </div>

      <div class="cover-slider-container">
          <div class="slider-background">
            <div class="button-slider-icon">
              <i class="fas fa-birthday-cake"></i>
            </div>
            <div class="button-text-container">
              <p>Slide to send a cake</p>
            </div>
          </div>
          <div class="celebrate-text">
            <p>Celebrate this anniversary with 3,978 people around the world!</p>
          </div>
      </div>

    </div>
    <div class="cover-background"></div>
    </div>


    <div class="like-bookmark-edit-container">
      <div class="outline-icon-container">
        <div class="outline-icon-like">
          <i class="fas fa-heart"></i>
        </div>
      </div>
      <div class="outline-icon-container">
        <div class="outline-icon-bookmark">
          <i class="fas fa-bookmark"></i>
        </div>
      </div>
      <div class="outline-icon-container">
        <div class="outline-icon-edit">
          <i class="fas fa-pen"></i>
        </div>
      </div>

  </div>
</section>

<section class="detail-page-main-body">
  <div class="anni-and-memo-container">
    <div class="pure-g container">
      <div class="pure-u-2-3 pure-u-md-1-1">
        <div class="anni-container">
          <!--Basic info-->
          <div class="content-container">
            <div class="content-title">
              <h1>BASIC INFO</h1>
            </div>
            <div class="basic-info-content">
              <p>Samuel Finley Breese Morse, OIC (April 27, 1791 – April 2, 1872) was an American painter and inventor. After having established his reputation as a portrait painter, in his middle age Morse contributed to the invention of a single-wire telegraph system based on European telegraphs. He was a co-developer of the Morse code and helped to develop the commercial use of telegraphy.</p>
            </div>
          </div>
          <!--Album-->
          <div class="content-container">
            <div class="content-title">
              <h1>ALBUM</h1>
            </div>
            <div class="album-container">
              <div class="album-column-left">
                <div class="album-first-img-container">
                  <!--<img src="img/album-img-samuel-morse-1.jpeg" alt="">-->
                  <div class="first-img" style="background-image: url('img/album-img-samuel-morse-1.jpeg');"></div>
                </div>
                <div class="album-img-container">
                  <!--<img src="img/album-img-samuel-morse-4.jpg" alt="">-->
                  <div class="album-img" style="background-image: url('img/album-img-samuel-morse-4.jpg');"></div>
                </div>
              </div>
              <div class="album-column-right">
                <div class="album-img-container">
                  <!--<img src="img/album-img-samuel-morse-2.jpg" alt="">-->
                  <div class="album-img" style="background-image: url('img/album-img-samuel-morse-2.jpg');"></div>
                </div>
                <div class="album-img-container">
                  <!--<img src="img/album-img-samuel-morse-3.jpg" alt="">-->
                  <div class="album-img" style="background-image: url('img/album-img-samuel-morse-3.jpg');"></div>
                </div>
                <div class="album-img-container">
                  <!--<img src="img/album-img-samuel-morse-5.jpg" alt="">-->
                  <div class="album-img" style="background-image: url('img/album-img-samuel-morse-5.jpg');"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="see-more-container">
            <div class="see-more-triangle">
            </div>
            <div class="see-more-text">
              <p>See more</p>
            </div>
          </div>

          <footer>
            <p>2019 @ Copiright </p>
          </footer>

        </div>
      </div>


      <!--Memos-->

      <div class="pure-u-1-3 pure-u-md-1-1">
        <div class="memo-container">
          <div class="add-memo">
            <div class="input-box">
              <input type="text" placeholder="Add memos here...">

              <div class="memo-send-icon">
                  <i class="fas fa-paper-plane"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="hot-memos">
            <div class="memo-type">
              <h2>Hot memos</h2>
            </div>
            <div class="memo-card">
              <div class="memo-account-photo-container">
                <div class="account-photo"></div>
              </div>
              <div class="memo-text-container">
                <div class="user-name">
                  <p>@</p><p>Nicky Dooche</p>
                </div>
                <div class="memo-time">
                  <p>Apr 13, 2019</p>
                </div>
                <div class="memo-content">
                  <p>Novelist and play writers really need to thank him for inventing a universal cipher that can be easily applied to any suspense stories (way more than needed)</p>
                </div>
                <div class="memo-like-and-comment">
                  <div class="memo-like">
                    <div class="memo-icon">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="memo-stat">
                      <p>12</p>
                    </div>
                  </div>
                  <div class="memo-comment">
                    <div class="memo-icon">
                      <i class="fas fa-comment"></i>
                    </div>
                    <div class="memo-stat">
                      <p>3</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="memo-card">
              <div class="memo-account-photo-container">
                <div class="account-photo"></div>
              </div>
              <div class="memo-text-container">
                <div class="user-name">
                  <p>@</p><p>Amanda Shelly</p>
                </div>
                <div class="memo-time">
                  <p>Apr 20, 2019</p>
                </div>
                <div class="memo-content">
                  <p>Samuel Morse was a co-developer, who is the other guy then?</p>
                </div>
                <div class="memo-like-and-comment">
                  <div class="memo-like">
                    <div class="memo-icon">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="memo-stat">
                      <p>10</p>
                    </div>
                  </div>
                  <div class="memo-comment">
                    <div class="memo-icon">
                      <i class="fas fa-comment"></i>
                    </div>
                    <div class="memo-stat">
                      <p>3</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="recent-memos">
            <div class="memo-type">
              <h2>Recent memos</h2>
            </div>
            <div class="memo-card">
              <div class="memo-account-photo-container">
                <div class="account-photo"></div>
              </div>
              <div class="memo-text-container">
                <div class="user-name">
                  <p>@</p><p>Tanni Mussani</p>
                </div>
                <div class="memo-time">
                  <p>1 hr ago</p>
                </div>
                <div class="memo-content">
                  <p>Somehow I thought he was British...</p>
                </div>
                <div class="memo-like-and-comment">
                  <div class="memo-like">
                    <div class="memo-icon">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="memo-stat">
                      <p>0</p>
                    </div>
                  </div>
                  <div class="memo-comment">
                    <div class="memo-icon">
                      <i class="fas fa-comment"></i>
                    </div>
                    <div class="memo-stat">
                      <p>0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="memo-card">
              <div class="memo-account-photo-container">
                <div class="account-photo"></div>
              </div>
              <div class="memo-text-container">
                <div class="user-name">
                  <p>@</p><p>Levin Cha</p>
                </div>
                <div class="memo-time">
                  <p>1 hr ago</p>
                </div>
                <div class="memo-content">
                  <p>Tried (may times) to learn Morse but failed everytime</p>
                </div>
                <div class="memo-like-and-comment">
                  <div class="memo-like">
                    <div class="memo-icon">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="memo-stat">
                      <p>0</p>
                    </div>
                  </div>
                  <div class="memo-comment">
                    <div class="memo-icon">
                      <i class="fas fa-comment"></i>
                    </div>
                    <div class="memo-stat">
                      <p>0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
</section>



</body>
</html>
