<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detail page</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script type="text/javascript" src="script-detail-page.js"></script>
</head>
<body>
<header>

  <div class="navbar-container">
    <div class="navbar-left">
      <div class="navbar-logo"></div>
      <div class="navbar-menu">
        <div class="navbar-menu-item">
          <a href="#">Home</a>
        </div>
        <div class="navbar-menu-item">
          <a href="#">Annis</a>
        </div>
        <div class="navbar-menu-item">
          <a href="#">About</a>
        </div>
      </div>
    </div>
    <div class="navbar-right">

      <div class="account-photo">
                    <span style="font-size: 35px; color: #bdbdbd; font-weight: normal">
                    <i class="fas fa-circle"></i>
      </div>

      <div class="navbar-button">
        <a href="#" class="button">New Annis</a>
      </div>

      <div class="navbar-notification-icon">
                    <span style="font-size: 20px; color: #bdbdbd; font-weight: normal">
                        <i class="fas fa-bell"></i>
                    </span>
      </div>

      <div id="navbar-searchbar">
        <input type="text" name="searchbar" placeholder="Search">
      </div>

      <div id="navbar-search-icon">
                    <span style="font-size: 20px; color: #bdbdbd; font-weight: normal">
                            <i class="fas fa-search"></i>
                    </span>
      </div>
    </div>
  </div>
</header>
<section class="main-body">
  <div class="annis-cover">
    <div class="cover-front-top-triangle">
      <img src="img/cover-front-top-triangle.svg" alt="">
    </div>
    <div class="cover-front-bottom-triangle">
      <img src="img/cover-front-top-triangle.svg" alt="">
    </div>
    <div class="cover-img-container">
      <img src="img/samuel_morse_500px.jpg" alt="">

    </div>
    <div class="cover-back-left-triangle">
      <img src="img/cover-back-left-triangle.svg" alt="">
    </div>
    <div class="cover-back-right-triangle">
      <img src="img/cover-front-top-triangle.svg" alt="">
    </div>

    <div class="cover-title-container">
      <div class="cover-title-number-container">
        <div class="cover-title-number">
          <p>228</p>
        </div>
        <div class="cover-title-number-th">
          <p>th</p>
        </div>
      </div>
      <div class="cover-title-text">
        <p>Samuel Morse's Birthday</p>
      </div>
      <div class="cover-title-text-background"></div>
      <div class="cover-title-date">
        <p>April 27, 2019</p>
      </div>

      <div class="cover-button-container">

        <div class="button-container">
          <div class="button-send-a-cake-icon">
            <i class="fas fa-birthday-cake"></i>
          </div>
          <div class="button-text-container">
            <div class="button-send-a-cake">
              <a href="#">Send a cake</a>
            </div>
            <div class="button-subtitle">
              <p>3987 people did</p>
            </div>
          </div>
          <div class="button-triangle">
            <img src="img/button-triangle.svg" alt="">
          </div>
        </div>
        <div class="button-container">
          <div class="button-send-a-cake-icon">
            <i class="fas fa-bookmark"></i>
          </div>
          <div class="button-text-container">
            <div class="button-mark-it">
              <a href="#">Mark it</a>
            </div>
            <div class="button-subtitle">
              <p>3987 people did</p>
            </div>
          </div>
          <div class="button-triangle-2">
            <img src="img/button-triangle.svg" alt="">
          </div>
        </div>
      </div>

    </div>
    <div class="cover-background"></div>
  </div>

  <div class="annis-detail-and-comment-container">

  </div>
</section>
<script>
    var searchIcon = document.getElementById("navbar-search-icon");
    var searchBar = document.getElementById("navbar-searchbar");

    searchIcon.onclick = function buttonOnClick() {
        searchBar.style.display = "inline-block"; };
</script>



</body>
</html>
