<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Detail page</title>
  <!--<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="script-detail-page.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
  <header>
    <div class="navbar-container">
      <div class="mobile-menu-search-container">
        <div id="hamburger-menu-icon">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="20" height="2" rx="1" fill="#C6A48F"/>
            <rect y="14" width="20" height="2" rx="1" fill="#C6A48F"/>
            <rect y="7" width="15" height="2" rx="1" fill="#C6A48F"/>
          </svg>
        </div>


        <div class="mobile-search-icon">
          <i class="fas fa-search"></i>
        </div>
      </div>
      <div class="navbar-left">

        <div class="navbar-logo">
          <svg width="70px" height="52px" viewBox="0 0 70 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-193.000000, -169.000000)">
                <g id="Group" transform="translate(187.000000, 165.000000)">
                  <path d="M43.7959227,20.5904128 L61.8993215,53.1765306 C63.7768138,56.5560168 62.5592072,60.8176398 59.1797211,62.6951321 C58.1398151,63.2728576 56.9698303,63.5760311 55.7802205,63.5760311 L19.573423,63.5760311 C15.7074297,63.5760311 12.573423,60.4420244 12.573423,56.5760311 C12.573423,55.3864214 12.8765965,54.2164366 13.4543221,53.1765306 L31.5577208,20.5904128 C33.4352131,17.2109267 37.6968362,15.9933201 41.0763223,17.8708124 C42.2190027,18.5056349 43.1611002,19.4477324 43.7959227,20.5904128 Z" id="Triangle-Copy" stroke="#C6A48F" transform="translate(37.676822, 36.576031) rotate(-200.000000) translate(-37.676822, -36.576031) "></path>
                  <text id="anni" font-family="Avenir-Light, Avenir" font-size="24" font-weight="300" fill="#C6A48F">
                    <tspan x="33" y="36">anni</tspan>
                  </text>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="navbar-menu">
          <div class="navbar-menu-item">
            <a href="#">Home</a>
          </div>
          <div class="navbar-menu-item">
            <a href="#">Annis</a>
          </div>
          <div class="navbar-menu-item">
            <a href="#">About</a>
          </div>
        </div>
      </div>

      <div class="navbar-middle">
        <div class="navbar-logo">
          <svg width="70px" height="52px" viewBox="0 0 70 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-193.000000, -169.000000)">
                <g id="Group" transform="translate(187.000000, 165.000000)">
                  <path d="M43.7959227,20.5904128 L61.8993215,53.1765306 C63.7768138,56.5560168 62.5592072,60.8176398 59.1797211,62.6951321 C58.1398151,63.2728576 56.9698303,63.5760311 55.7802205,63.5760311 L19.573423,63.5760311 C15.7074297,63.5760311 12.573423,60.4420244 12.573423,56.5760311 C12.573423,55.3864214 12.8765965,54.2164366 13.4543221,53.1765306 L31.5577208,20.5904128 C33.4352131,17.2109267 37.6968362,15.9933201 41.0763223,17.8708124 C42.2190027,18.5056349 43.1611002,19.4477324 43.7959227,20.5904128 Z" id="Triangle-Copy" stroke="#C6A48F" transform="translate(37.676822, 36.576031) rotate(-200.000000) translate(-37.676822, -36.576031) "></path>
                  <text id="anni" font-family="Avenir-Light, Avenir" font-size="24" font-weight="300" fill="#C6A48F">
                    <tspan x="33" y="36">anni</tspan>
                  </text>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>


      <div class="navbar-right">

        <div class="account-photo">
          <div class="navbar-account-menu-arrow-container">
            <div class="navbar-account-menu-arrow"></div>
          </div>

        </div>

        <div class="navbar-button">
          <a href="#" class="button">New Annis</a>
        </div>

        <div class="plus">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="9" width="20" height="2" rx="1" fill="#C6A48F"/>
            <rect x="9" y="20" width="20" height="2" rx="1" transform="rotate(-90 9 20)" fill="#C6A48F"/>
          </svg>

        </div>

        <div class="navbar-notification-icon">
          <i class="fas fa-bell"></i>
        </div>

        <div id="navbar-searchbar">
          <div class="navbar-search-input">
            <input type="text" name="searchbar" placeholder="Search">
          </div>
        </div>


        <div id="navbar-search-icon">
          <i class="fas fa-search"></i>
        </div>

        <script>
            $(document).ready(function(){
                $("#navbar-searchbar").hide();
                $("#navbar-search-icon").click(function(){
                    $("#navbar-searchbar").toggle();
                });
            });
        </script>

        <!--<script>-->
            <!--var searchIcon = document.getElementById("navbar-search-icon");-->
            <!--var searchBar = document.getElementById("navbar-searchbar");-->

            <!--searchIcon.onclick = function buttonOnClick() {-->
                <!--searchBar.style.display = "inline-block"; };-->
        <!--</script>-->
      </div>
    </div>

    <div id="mobile-menu">
      <div class="navbar-menu-item">
        <a href="#">Home</a>
      </div>
      <div class="navbar-menu-item">
        <a href="#">Annis</a>
      </div>
      <div class="navbar-menu-item">
        <a href="#">About</a>
      </div>
    </div>

    <script>
        $(document).ready(function(){
            $ ("#mobile-menu").hide();
            $("#hamburger-menu-icon").click(function(){
                $("#mobile-menu").toggle();
            });
        });
    </script>

    <div id="mobile-searchbar">
      <!--<div class="mobile-search-input">-->
        <input type="text" name="searchbar" placeholder="Search">
      </div>
    <!--</div>-->

    <script>
        $(document).ready(function(){
            $ ("#mobile-searchbar").hide();
            $(".mobile-search-icon").click(function(){
                $("#mobile-searchbar").toggle();
            });
        });
    </script>


    <!--<script>-->
        <!--var hamburgerIcon = document.getElementById("hamburger-menu-icon");-->
        <!--var mobileMenu = document.getElementById("mobile-menu");-->

        <!--hamburgerIcon.onclick = function buttonOnClick() {-->
            <!--mobileMenu.style.display = "flex"; };-->
    <!--</script>-->

    <div class="navbar-account-menu-outer-container">

      <div class="navbar-account-menu">
        <div class="navbar-account-menu-list">
          <a href="#">Log in</a>
        </div>
      </div>

    </div>

    <script>
        $(document).ready(function(){
            $ (".navbar-account-menu-arrow-container, .navbar-account-menu-outer-container").hide();
            $(".account-photo").click(function(){
                $(".navbar-account-menu-arrow-container, .navbar-account-menu-outer-container").toggle();
            });
        });
    </script>

  </header>

  <div class="main-body">
    <div class="annis-cover">

      <div class="cover-img-container">
        <img src="img/cover-samuel-morse.jpg" alt="">

      </div>

      <div class="cover-front-top-triangle">
        <img src="img/cover-front-top-triangle.svg" alt="">
      </div>
      <div class="cover-front-bottom-triangle">
        <img src="img/cover-front-top-triangle.svg" alt="">
      </div>
      <div class="cover-back-left-triangle">
        <img src="img/cover-back-left-triangle.svg" alt="">
      </div>
      <div class="cover-back-right-triangle">
        <img src="img/cover-front-top-triangle.svg" alt="">
      </div>

      <div class="cover-title-container">
        <div class="cover-title-number-container">
          <div class="cover-title-number">
            <p>228</p>
          </div>
          <div class="cover-title-number-th">
            <p>th</p>
          </div>
        </div>
        <div class="cover-title-text">
          <p>Samuel Morse's Birthday</p>
        </div>
        <div class="cover-title-date">
          <p>April 27, 2019</p>
        </div>

        <div class="cover-slider-container">
          <div class="slider-background">
            <div class="button-slider-icon">
              <i class="fas fa-birthday-cake"></i>
            </div>
            <script>
              $( function() {
                $( ".button-slider-icon" ).slider();
              } );
            </script>
            <div class="button-text-container">
              <p>Slide to send a cake</p>
            </div>
          </div>
          <div class="celebrate-text">
           <p>Celebrate this anniversary with 3,978 people around the world!</p>
          </div>
        </div>

      </div>



      <div class="cover-background"></div>

    </div>

  </div>

  <div class="like-bookmark-edit-container">
    <div class="outline-icon-container">
      <div class="outline-icon-like">
        <i class="fas fa-heart"></i>
      </div>
    </div>
    <div class="outline-icon-container">
      <div class="outline-icon-bookmark">
        <i class="fas fa-bookmark"></i>
      </div>
    </div>
    <div class="outline-icon-container">
      <div class="outline-icon-edit">
        <i class="fas fa-pen"></i>
      </div>
    </div>
  </div>

  <section class="detail-page-main-body">
    <div class="anni-and-memo-container">
      <div class="pure-g container">
        <div class="pure-u-1 pure-u-md-2-3">
          <div class="anni-container">
            <!--Basic info-->
            <div class="content-container">
              <div class="content-title">
                <h1>BASIC INFO</h1>
              </div>
              <div class="basic-info-content">
                <p>Samuel Finley Breese Morse, OIC (April 27, 1791 – April 2, 1872) was an American painter and inventor. After having established his reputation as a portrait painter, in his middle age Morse contributed to the invention of a single-wire telegraph system based on European telegraphs. He was a co-developer of the Morse code and helped to develop the commercial use of telegraphy.</p>
              </div>
            </div>
            <!--Album-->
            <div class="content-container">
              <div class="content-title">
                <h1>ALBUM</h1>
              </div>
              <div class="album-container">
                <div class="album-column">
                  <div class="album-img-container">
                    <!--<img src="img/album-img-samuel-morse-1.jpeg" alt="">-->
                    <div class="album-img" style="background-image: url('img/album-img-samuel-morse-1.jpeg');"></div>
                  </div>
                  <div class="album-img-container">
                    <!--<img src="img/album-img-samuel-morse-4.jpg" alt="">-->
                    <div class="album-img" style="background-image: url('img/album-img-samuel-morse-4.jpg');"></div>
                  </div>
                </div>
                <div class="album-column">
                  <div class="album-img-container">
                    <!--<img src="img/album-img-samuel-morse-2.jpg" alt="">-->
                    <div class="album-img" style="background-image: url('img/album-img-samuel-morse-2.jpg');"></div>
                  </div>
                  <div class="album-img-container">
                    <!--<img src="img/album-img-samuel-morse-3.jpg" alt="">-->
                    <div class="album-img" style="background-image: url('img/album-img-samuel-morse-3.jpg');"></div>
                  </div>
                  <div class="album-img-container">
                    <!--<img src="img/album-img-samuel-morse-5.jpg" alt="">-->
                    <div class="album-img" style="background-image: url('img/album-img-samuel-morse-5.jpg');"></div>
                  </div>
                </div>


              </div>
            </div>

            <div class="album-detail-popup-container">
              <!--<div class="cross-icon">-->
                <i class="fas fa-times cross-icon"></i>
              <!--</div>-->
              <div class="album-detail-popup-img-container">
                <div class="album-img-popup" style="background-image: url('img/album-img-samuel-morse-1.jpeg');"></div>

              </div>
              <div class="album-detail-popup-caption">
                <p>owfohshohfoshf</p>

              </div>
            </div>

            <script>
              $(document).ready(function(){
                $(".album-detail-popup-container").hide();
                $(".album-container").click(function(){
                  $(".album-detail-popup-container").show();
                });
                $(".cross-icon").click(function () {
                  $(this).parent(".album-detail-popup-container").hide();
                  // console.log($(this).parent(".album-detail-popup-container")[0])
                });
              });
            </script>

            <!--<div class="see-more-container">-->
              <!--<div class="see-more-triangle">-->
              <!--</div>-->
              <!--<div class="see-more-text">-->
                <!--<p>See more</p>-->
              <!--</div>-->
            <!--</div>-->

            <div class="web-footer">
              <footer>
                <p>2019 @ Copiright </p>
              </footer>
            </div>

          </div>
        </div>


        <!--Memos-->

        <div class="pure-u-1 pure-u-md-1-3">
          <div class="memo-container">
            <div class="add-memo">
              <div class="input-box">
                <input type="text" placeholder="Add memos here...">

                <div class="memo-send-icon">
                    <i class="fas fa-paper-plane"></i>
                  </span>
                </div>
              </div>
            </div>

            <script>

            </script>

            <div class="hot-memos">

              <div class="memo-card">
                <div class="memo-original">
                  <div class="memo-account-photo-container">
                    <div class="account-photo"></div>
                  </div>
                  <div class="memo-text-container">
                    <div class="user-name">
                      <p>@</p><p>Amanda Shelly</p>
                    </div>
                    <div class="memo-time">
                      <p>Apr 20, 2019</p>
                    </div>
                    <div class="memo-content">
                      <p>Samuel Morse was a co-developer, who is the other guy then?</p>
                    </div>
                    <div class="memo-like-and-comment">
                      <div class="memo-like">
                        <div class="memo-icon">
                          <i class="fas fa-thumbs-up"></i>
                        </div>
                        <div class="memo-stat">
                          <p>10</p>
                        </div>
                      </div>
                      <div class="memo-comment">
                        <div class="memo-icon">
                          <i class="fas fa-comment"></i>
                        </div>
                        <div class="memo-stat">
                          <p>3</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="memo-reply-container">
                  <div class="reply-input-container">
                    <div class="input-box">
                      <input type="text" placeholder="Reply here...">
                      <div class="memo-send-icon">
                        <i class="fas fa-paper-plane"></i>
                      </div>
                    </div>
                  </div>
                  <div class="memo-reply">
                    <div class="memo-account-photo-container">
                      <div class="account-photo"></div>
                    </div>
                    <div class="memo-text-container">
                      <div class="user-name">
                        <p>@</p><p>Larry Glashya</p>
                      </div>
                      <div class="memo-time">
                        <p>Apr 13, 2019</p>
                      </div>
                      <div class="memo-content">
                        <p>Reply <p>@</p><p style="color: #C6A48F">Nicky Dooche</p><p>: </p><p>Totally agree</p>
                      </div>
                      <div class="memo-like-and-comment">
                        <div class="memo-like">
                          <div class="memo-icon">
                            <i class="fas fa-thumbs-up"></i>
                          </div>
                          <div class="memo-stat">
                            <p>1</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

              <script>
                  $(document).ready(function(){
                      $(".memo-reply-container").hide();
                      $(".memo-comment .memo-icon i").click(function(){
                          $(this).closest(".memo-card").find(".memo-reply-container").toggle();
                      });
                  });

              </script>



            </div>


          </div>




        </div>


      </div>
    </div>
  </section>
 <div class="mobile-footer">
   <footer>
     <p>2019 @ Copiright </p>
   </footer>
 </div>


</body>
</html>
