<header>
    <div class="navbar-container">
        <div class="mobile-menu-search-container">
            <div id="hamburger-menu-icon">
                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20" height="2" rx="1" fill="#C6A48F"/>
                    <rect y="14" width="20" height="2" rx="1" fill="#C6A48F"/>
                    <rect y="7" width="15" height="2" rx="1" fill="#C6A48F"/>
                </svg>
            </div>


            <div class="mobile-search-icon">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="navbar-left">

            <div class="navbar-logo">
                <a href="/">
                    <svg width="70px" height="52px" viewBox="0 0 70 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-193.000000, -169.000000)">
                                <g id="Group" transform="translate(187.000000, 165.000000)">
                                    <path d="M43.7959227,20.5904128 L61.8993215,53.1765306 C63.7768138,56.5560168 62.5592072,60.8176398 59.1797211,62.6951321 C58.1398151,63.2728576 56.9698303,63.5760311 55.7802205,63.5760311 L19.573423,63.5760311 C15.7074297,63.5760311 12.573423,60.4420244 12.573423,56.5760311 C12.573423,55.3864214 12.8765965,54.2164366 13.4543221,53.1765306 L31.5577208,20.5904128 C33.4352131,17.2109267 37.6968362,15.9933201 41.0763223,17.8708124 C42.2190027,18.5056349 43.1611002,19.4477324 43.7959227,20.5904128 Z" id="Triangle-Copy" stroke="#C6A48F" transform="translate(37.676822, 36.576031) rotate(-200.000000) translate(-37.676822, -36.576031) "></path>
                                    <text id="anni" font-family="Avenir-Light, Avenir" font-size="24" font-weight="300" fill="#C6A48F">
                                        <tspan x="33" y="36">anni</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-menu-item">
                    <a href="/">Home</a>
                </div>
                <div class="navbar-menu-item">
                    <a href="/annis">Anni</a>
                </div>
                <div class="navbar-menu-item">
                    <a href="/about">About</a>
                </div>
            </div>
        </div>

        <div class="navbar-middle">
            <div class="navbar-logo">
                <svg width="70px" height="52px" viewBox="0 0 70 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Desktop-HD" transform="translate(-193.000000, -169.000000)">
                            <g id="Group" transform="translate(187.000000, 165.000000)">
                                <path d="M43.7959227,20.5904128 L61.8993215,53.1765306 C63.7768138,56.5560168 62.5592072,60.8176398 59.1797211,62.6951321 C58.1398151,63.2728576 56.9698303,63.5760311 55.7802205,63.5760311 L19.573423,63.5760311 C15.7074297,63.5760311 12.573423,60.4420244 12.573423,56.5760311 C12.573423,55.3864214 12.8765965,54.2164366 13.4543221,53.1765306 L31.5577208,20.5904128 C33.4352131,17.2109267 37.6968362,15.9933201 41.0763223,17.8708124 C42.2190027,18.5056349 43.1611002,19.4477324 43.7959227,20.5904128 Z" id="Triangle-Copy" stroke="#C6A48F" transform="translate(37.676822, 36.576031) rotate(-200.000000) translate(-37.676822, -36.576031) "></path>
                                <text id="anni" font-family="Avenir-Light, Avenir" font-size="24" font-weight="300" fill="#C6A48F">
                                    <tspan x="33" y="36">anni</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>


        <div class="navbar-right">
            <% if (typeof currentUser !== 'undefined' && typeof currentUser.userId !== 'undefined') { %>
                <div class="account-photo navbar-el" style="background-image: url('/images/avatars/<%= currentUser.userAvatar %>');"></div>

                <div class="navbar-button navbar-post navbar-el">
                    <a href="/post" class="button">New Annis</a>
                </div>

                <div class="plus navbar-plus-icon navbar-el">
                    <a href="/post"><i class="fas fa-plus"></i></a>
                </div>

                <div class="navbar-notification-icon navbar-el">
                    <a href="/notifications"><i class="fas fa-bell"></i></a>
                </div>
            <% } else { %>
                <div class="navbar-button navbar-el">
                    <a href="/signup" class="button">Sign Up</a>
                </div>
                <div class="navbar-button navbar-el">
                    <a href="/login" class="button">Log In</a>
                </div>


                <div class="plus navbar-plus-icon navbar-el">
                    <a href="/signup"><i class="fas fa-user-circle"></i></a>
                </div>
            <% } %>

            <div id="navbar-searchbar">
                <div class="navbar-search-input">
                    <input type="text" name="searchbar" placeholder="Search">
                </div>
            </div>


            <div id="navbar-search-icon">
                <i class="fas fa-search"></i>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

            <script>
              $(document).ready(function(){
                $("#navbar-searchbar").hide();
                $("#navbar-search-icon").click(function(){
                  $("#navbar-searchbar").toggle();
                });
              });
            </script>

            <!--<script>-->
            <!--var searchIcon = document.getElementById("navbar-search-icon");-->
            <!--var searchBar = document.getElementById("navbar-searchbar");-->

            <!--searchIcon.onclick = function buttonOnClick() {-->
            <!--searchBar.style.display = "inline-block"; };-->
            <!--</script>-->
        </div>
    </div>

    <div id="mobile-menu">
        <div class="navbar-menu-item">
            <a href="/">Home</a>
        </div>
        <div class="navbar-menu-item">
            <a href="/annis">Anni</a>
        </div>
        <div class="navbar-menu-item">
            <a href="/about">About</a>
        </div>
    </div>

    <script>
      $(document).ready(function(){
        $ ("#mobile-menu").hide();
        $("#hamburger-menu-icon").click(function(){
          $("#mobile-menu").toggle();
        });
      });
    </script>

    <div id="mobile-searchbar">
        <!--<div class="mobile-search-input">-->
        <input type="text" name="searchbar" placeholder="Search">
    </div>
    <!--</div>-->

    <script>
      $(document).ready(function(){
        $ ("#mobile-searchbar").hide();
        $(".mobile-search-icon").click(function(){
          $("#mobile-searchbar").toggle();
        });
      });
    </script>


    <!--<script>-->
    <!--var hamburgerIcon = document.getElementById("hamburger-menu-icon");-->
    <!--var mobileMenu = document.getElementById("mobile-menu");-->

    <!--hamburgerIcon.onclick = function buttonOnClick() {-->
    <!--mobileMenu.style.display = "flex"; };-->
    <!--</script>-->

</header>