<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detail page</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        body {
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #333333;
        }
        .container-full {
            width: 100%;
        }
        .carousel {
            position: relative;
            height: 600px;
            margin-top: 60px;
        }
        .carousel-scene {
            position: absolute;
            width: 100%;
            height: 600px;
            display: block;
            background-color: #C6A48F;
            background-position: center;
            background-size: cover;
        }
        .carousel-label {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 48px 0;
            background-color: rgba(0, 0, 0, .4);
            color: #FFF;
        }
        .carousel-date {
            margin-left: 6px;
            margin-right: 6px;
            margin-bottom: 12px;
            font-family: 'Prata', serif;
            font-size: 36px;
        }
        .carousel-title {
            margin-left: 6px;
            margin-right: 6px;
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            font-weight: 300;
        }
        .carousel-control {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 6px 0;
            text-align: center;
        }
        .carousel-dot {
            width: 32px;
            height: 12px;
            display: inline-block;
            margin: 0 3px;
            border-radius: 6px;
            background-color: #BDBDBD;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
        .carousel-dot-active,
        .carousel-dot:hover {
            background-color: #BC8374;
        }

        .container-content {
            margin: 0 10%;
        }
        @media only screen and (max-width: 1024px) {
            .container-content {
                margin: 0 5%;
            }
        }
        @media only screen and (max-width: 790px) {
            .container-content {
                margin: 0 3%;
            }
        }

        .section-title {
            margin-left: 6px;
            margin-right: 6px;
            padding: 24px 0;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            color: #828282;
        }
        .card {
            display: block;
            text-decoration: none;
            cursor: pointer;
            background: #faf5f1;
            transition: all .3s ease-in-out;
        }
        .card:hover {
            box-shadow: 0 2px 16px 0 rgba(0,0,0,0.12);
            /*box-shadow: 0 2px 16px 0 rgba(188,131,116,0.4);*/
        }
        .card-title {
            margin-bottom: 6px;
            font-family: 'Prata', serif;
            font-size: 24px;
            line-height: 24px;
        }
        .card-date {
            margin-bottom: 18px;
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            font-weight: 300;
        }
        .card-actions {
        }
        .card-action {
            display: inline-block;
            margin-right: 12px;
            font-size: 18px;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
        .card-action:hover {
            color: #BC8374;
        }

        .card-pop {
            display: flex;
            margin-left: 6px;
            margin-right: 6px;
            margin-bottom: 24px;
        }
        .card-pop-image {
            width: 100%;
            height: 100%;
            min-height: 200px;
            background-color: #C6A48F;
            background-position: center;
            background-size: cover;
        }
        .card-pop-text {
            height: 100%;
            padding: 32px 24px;
        }
        .card-pop-comment {
            margin-top: 18px;
            display: flex;
        }
        .card-pop-comment .card-avatar {
            width: 36px;
            height: 36px;
            margin-right: 12px;
            border-radius: 50%;
            background-color: #C6A48F;
            background-position: center;
            background-size: cover;
            flex-shrink: 0;
        }
        .card-pop-comment .card-text {
            /*width: 80%;*/
        }

        .card-classic {
            margin-left: 6px;
            margin-right: 6px;
            margin-bottom: 12px;
        }
        .card-classic-image {
            width: 100%;
            min-height: 180px;
            background-color: #C6A48F;
            background-position: center;
            background-size: cover;
        }
        .card-classic-text {
            padding: 24px 24px;
        }
    </style>
</head>
<body>

<%- include('header', { user: currentUser }) %>

<div class="container-full">
    <div class="carousel">
        <div class="carousel-stage">
            <div class="carousel-scene carousel-scene-active" style="background-image: url('/images/annis/sample-1.jpg')">
                <div class="carousel-label">
                    <div class="container-content">
                        <p class="carousel-date">Jan 18</p>
                        <h2 class="carousel-title">Jay Chow's Birthday</h2>
                    </div>
                </div>
            </div>
            <div class="carousel-scene" style="background-image: url('/images/annis/sample-2.jpg')">
                <div class="carousel-label">
                    <div class="container-content">
                        <p class="carousel-date">Jan 18</p>
                        <h2 class="carousel-title">Jay Chow's Birthday</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-control">
            <div class="carousel-dot carousel-dot-active"></div>
            <div class="carousel-dot"></div>
            <div class="carousel-dot"></div>
            <div class="carousel-dot"></div>
        </div>
    </div>
</div>

<div class="container-content">
    <h3 class="section-title">POPULAR ON ANNI</h3>
    <a class="pure-g card card-pop">
        <div class="pure-u-1 pure-u-md-2-5">
            <div class="card-pop-image" style="background-image: url('/images/annis/sample-1.jpg')"></div>
        </div>
        <div class="pure-u-1 pure-u-md-3-5">
            <div class="card-pop-text">
                <h4 class="card-title">Allen Poe's Birthday</h4>
                <p class="card-date">Jan 19</p>
                <div class="card-actions">
                    <div class="card-action">
                        <i class="fas fa-heart"></i>
                        <span>3012</span>
                    </div>
                    <div class="card-action">
                        <i class="fas fa-comment"></i>
                        <span>3012</span>
                    </div>
                </div>
                <div class="card-pop-comment">
                    <div class="card-avatar" style="background-image: url('/images/avatars/sample-avatar.jpg')"></div>
                    <p class="card-text">Novelist and play writers really need to thank him for inventing a universal cipher that can be easily applied to any suspense stories (way more than needed)</p>
                </div>
            </div>
        </div>
    </a>

    <a class="pure-g card card-pop">
        <div class="pure-u-1 pure-u-md-2-5">
            <div class="card-pop-image" style="background-image: url('/images/annis/sample-1.jpg')"></div>
        </div>
        <div class="pure-u-1 pure-u-md-3-5">
            <div class="card-pop-text">
                <h4 class="card-title">Allen Poe's Birthday</h4>
                <p class="card-date">Jan 19</p>
                <div class="card-actions">
                    <div class="card-action">
                        <i class="fas fa-heart"></i>
                        <span>3012</span>
                    </div>
                    <div class="card-action">
                        <i class="fas fa-comment"></i>
                        <span>3012</span>
                    </div>
                </div>
                <div class="card-pop-comment">
                    <div class="card-avatar" style="background-image: url('/images/avatars/sample-avatar.jpg')"></div>
                    <p class="card-text">Novelist and play writers really need to thank him for inventing a universal cipher that can be easily applied to any suspense stories (way more than needed)</p>
                </div>
            </div>
        </div>
    </a>

    <h3 class="section-title">UPCOMING ANNI</h3>
    <div class="pure-g card-container">
        <div class="pure-u-1 pure-u-md-1-3">
            <a class="card card-classic">
                <div class="card-classic-image" style="background-image: url('/images/annis/sample-1.jpg')"></div>
                <div class="card-classic-text">
                    <h4 class="card-title">Allen Poe's Birthday</h4>
                    <p class="card-date">Jan 19</p>
                    <div class="card-actions">
                        <div class="card-action">
                            <i class="fas fa-heart"></i>
                            <span>3012</span>
                        </div>
                        <div class="card-action">
                            <i class="fas fa-comment"></i>
                            <span>3012</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <a class="card card-classic">
                <div class="card-classic-image" style="background-image: url('/images/annis/sample-1.jpg')"></div>
                <div class="card-classic-text">
                    <h4 class="card-title">Allen Poe's Birthday</h4>
                    <p class="card-date">Jan 19</p>
                    <div class="card-actions">
                        <div class="card-action">
                            <i class="fas fa-heart"></i>
                            <span>3012</span>
                        </div>
                        <div class="card-action">
                            <i class="fas fa-comment"></i>
                            <span>3012</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <a class="card card-classic">
                <div class="card-classic-image" style="background-image: url('/images/annis/sample-1.jpg')"></div>
                <div class="card-classic-text">
                    <h4 class="card-title">Allen Poe's Birthday</h4>
                    <p class="card-date">Jan 19</p>
                    <div class="card-actions">
                        <div class="card-action">
                            <i class="fas fa-heart"></i>
                            <span>3012</span>
                        </div>
                        <div class="card-action">
                            <i class="fas fa-comment"></i>
                            <span>3012</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  function initCarousel() {
    var $scenes = $('.carousel-scene');
    $scenes.hide();
    $scenes.removeClass('carousel-scene-active');
    $scenes.eq(0).show();
    $scenes.eq(0).addClass('carousel-scene-active');

    setInterval(playCarousel, 4000);
  }
  function playCarousel() {
    showNextScene();
  }
  function showNextScene(nextIndex) {
    var $dots = $('.carousel-dot');
    var $scenes = $('.carousel-scene');

    var previousIndex = $scenes.index($('.carousel-scene-active'));
    if (typeof nextIndex === 'undefined') {
      nextIndex = (previousIndex + 1) % $scenes.length;
    }
    // console.log(previousIndex, '->', nextIndex);

    $scenes.eq(previousIndex).fadeOut('slow');
    $scenes.removeClass('carousel-scene-active');

    $scenes.eq(nextIndex).fadeIn('slow');
    $scenes.eq(nextIndex).addClass('carousel-scene-active');

    $dots.removeClass('carousel-dot-active');
    $dots.eq(nextIndex).addClass('carousel-dot-active');
  }

  $(document).ready(function(){
    initCarousel();

    $('.carousel-dot').click(function(){
      var $dots = $('.carousel-dot');
      var nextIndex = $dots.index(this);
      showNextScene(nextIndex);
    });
  });
</script>

</body>
</html>
