<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log in</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="sign-up-log-in-page-container">
  <div class="sign-up-img-container">
    <div class="sign-up-log-in-img" style="background-image: url('/images/annis/cover-carl-gauss.jpg')"></div>
  </div>
  <div class="sign-up-log-in-page-content-container">
    <div class="sign-up-log-in-page-title">
      <h1>Welcome back to</h1>
    </div>
    <div class="sign-up-log-in-page-logo">
      <svg width="70px" height="52px" viewBox="0 0 70 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Desktop-HD" transform="translate(-193.000000, -169.000000)">
            <g id="Group" transform="translate(187.000000, 165.000000)">
              <path d="M43.7959227,20.5904128 L61.8993215,53.1765306 C63.7768138,56.5560168 62.5592072,60.8176398 59.1797211,62.6951321 C58.1398151,63.2728576 56.9698303,63.5760311 55.7802205,63.5760311 L19.573423,63.5760311 C15.7074297,63.5760311 12.573423,60.4420244 12.573423,56.5760311 C12.573423,55.3864214 12.8765965,54.2164366 13.4543221,53.1765306 L31.5577208,20.5904128 C33.4352131,17.2109267 37.6968362,15.9933201 41.0763223,17.8708124 C42.2190027,18.5056349 43.1611002,19.4477324 43.7959227,20.5904128 Z" id="Triangle-Copy" stroke="#C6A48F" transform="translate(37.676822, 36.576031) rotate(-200.000000) translate(-37.676822, -36.576031) "></path>
              <text id="anni" font-family="Avenir-Light, Avenir" font-size="24" font-weight="300" fill="#C6A48F">
                <tspan x="33" y="36">anni</tspan>
              </text>
            </g>
          </g>
        </g>
      </svg>
    </div>

    <div class="sign-up-input-container">
      <div class="sign-up-input">
        <input type="text" placeholder="Username" id="input-username">
      </div>
      <div class="sign-up-input">
        <input type="text" placeholder="Password" id="input-password">
      </div>
    </div>
    <div class="remember-me-forget-password-container">
      <div class="remember-me">
        <input  type="checkbox"><span>Remember me</span></input>
      </div>
      <div class="forget-password">
        <a href="#">Forget password?</a>
      </div>
    </div>
    <div class="sign-up-log-in-page-button-container">
      <div class="sign-up-log-in-page-button">
        <a href="#" class="sign-up-log-in-button" id="btn-login">Log in</a>
      </div>
    </div>

    <div class="have-an-account">
      <p>Do not have an account? <a href="#">Sign up now.</a></p>
    </div>

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  function login() {
    var data = {
      email: $('#input-username').val(),
      password: $('#input-password').val(),
      // status: $('#btn-login').data("str"),
    };
    // var anniId = $('#anni-id').val();
    var url = '/login';

    $.ajax({
      method: 'POST',
      url: url,
      data: data,
      dataType: 'json',
    }).done(function(ret) {
      console.log(ret);
      if (ret.success) {
        // Succeeded
        console.log(ret.data);
        window.location.href = "/users";
      } else {
        // Failed
        console.log(ret.msg);
        alert(ret.msg);
        // location.reload();
      }
    });
  }

  $(document).ready(function(){
    $('#btn-login').click(function(){
      login();
    });
  });
</script>


</body>
</html>