
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notification</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/jiaqi.css">
    <script>
        $(function() {
          $("#repliesButton").css("background-color", "#dcccbb");

          $("#repliesButton").click(function(event){
              hideAll();
              $(".repliesList").fadeIn("slow");
              $("#repliesButton").css("background-color", "#dcccbb");
          });

          $("#likesButton").click(function(event){
              hideAll();
              $(".likesList").fadeIn("slow");
              $("#likesButton").css("background-color", "#dcccbb");
          });

          $("#bookmarksButton").click(function(event){
              hideAll();
              $(".bookmarksList").fadeIn("slow");
              $("#bookmarksButton").css("background-color", "#dcccbb");
          });

          $("#systemNotificationsButton").click(function(event){
              hideAll();
              $(".systemNotificationsList").fadeIn("slow");
              $("#systemNotificationsButton").css("background-color", "#dcccbb");
          });

          resizeLayout();
          $("#sideBarBox").show();
          $("#contentBox").show();
        });

        function hideAll() {
          $(".repliesList").hide();
          $(".likesList").hide();
          $(".bookmarksList").hide();
          $(".systemNotificationsList").hide();
          let cssStyle = {"background-color": ""};
          $("#repliesButton").css(cssStyle);
          $("#likesButton").css(cssStyle);
          $("#bookmarksButton").css(cssStyle);
          $("#systemNotificationsButton").css(cssStyle);
        }

        $(window).resize(function() {
          resizeLayout();
        });

        function resizeLayout() {
          $("#sideBarBox").removeClass();
          $("#contentBox").removeClass();
          if ($(this).width() > 768) {
            $("#sideBarBox").addClass("pure-u-1-3");
            $("#contentBox").addClass("pure-u-2-3");
          } else {
            $("#sideBarBox").addClass("pure-u-1");
            $("#contentBox").addClass("pure-u-1");
          }
        }
    </script>
  </head>

  <body>

  <%- include('header', { user: currentUser }) %>

    <div class="pure-g userContainer">
      <div class="pure-u-1 dummyHeader"></div>
      <div class="pure-g" id="mainBox">
        <div id="sideBarBox">
          <!-- sideBar -->
          <div class="sideBar">
            <p class="sideBarTitle">Notifications</p>
            <p class="sideBarItem" id="repliesButton">Replies</p>
            <p class="sideBarItem" id="likesButton">Likes</p>
            <p class="sideBarItem" id="bookmarksButton">Bookmarks</p>
            <p class="sideBarItem" id="systemNotificationsButton">System Notifications</p>
          </div>
        </div>

        <div id="contentBox">
          <!--replies-->
          <div class="repliesList">
            <div class="contentBoxTitle"><p>Replies</p></div>
            <div class="replies">
              <div class="repliesContent">
                <div class="contentHeader">
                  <div class="fromUser">
                    <p>@Amanda Shelly</p>
                  </div>
                  <p class="repliedYou">replied you on <a href="">CMU Anniversary</a></p>
                  <p class="repliedDate">4 days ago</p>
                </div>
                <p class="repliesText">I love CMU:)</p>
                <div class="memo-like-and-comment">
                  <div class="memo-like">
                    <div class="memo-icon">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="memo-stat">
                      <p>12</p>
                    </div>
                  </div>
                  <div class="memo-comment">
                    <div class="memo-icon">
                      <i class="fas fa-comment"></i>
                    </div>
                    <div class="memo-stat">
                      <p>3</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--likes-->
          <div class="likesList">
            <div class="contentBoxTitle"><p>Likes</p></div>
            <div class="likes">
              <div class="likesContent">
                <div class="contentHeader">
                  <div class="fromUser">
                    <p>@Amanda Shelly</p>
                  </div>
                  <p class="likedYou">liked your post</p>
                  <p class="likedDate">4 days ago</p>
                </div>
                <div class="pure-g">
                  <div class="pure-u-1-5 annisImage" style="background-image: url('/images/annis/cmu-0.jpg');"></div>
                  <div class="pure-u-4-5 annisText">
                    <p class="annisTitle">CMU Anniversary</p>
                    <p class="annisDate">Nov 10</p>
                    <p class="annisDescription">"Carnegie Mellon University (CMU) is a private research university based in Pittsburgh, Pennsylvania. Founded in 1900 by Andrew Carnegie as the Carnegie Technical Schools, the university became the Carnegie Institute of Technology in 1912 and began granting four-year degrees. In 1967, the Carnegie Institute of Technology merged with the Mellon Institute of Industrial Research to form Carnegie Mellon University. With its main campus located 3 miles (5 km) from Downtown Pittsburgh, Carnegie Mellon has grown into an international university with over a dozen degree-granting locations in six continents, including campuses in Qatar and Silicon Valley, and more than 20 research partnerships.
                      The university has seven colleges and independent schools which all offer interdisciplinary programs: the College of Engineering, College of Fine Arts, Dietrich College of Humanities and Social Sciences, Mellon College of Science, Tepper School of Business, H. John Heinz III College of Information Systems and Public Policy, and the School of Computer Science.
                      Carnegie Mellon counts 13,961 students from 109 countries, over 105,000 living alumni, and over 5,000 faculty and staff. Past and present faculty and alumni include 20 Nobel Prize laureates, 13 Turing Award winners, 23 Members of the American Academy of Arts and Sciences, 22 Fellows of the American Association for the Advancement of Science, 79 Members of the National Academies, 124 Emmy Award winners, 47 Tony Award laureates, and 10 Academy Award winners."</p>
                    <div class="like-bookmark-container">
                      <div class="outline-icon-container2">
                        <div class="outline-icon-like2">
                          <i class="fas fa-heart"></i>
                        </div>
                      </div>
                      <div class="outline-icon-container2">
                        <div class="outline-icon-bookmark2">
                          <i class="fas fa-bookmark"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--bookmarks-->
          <div class="bookmarksList">
            <div class="contentBoxTitle"><p>Bookmarks</p></div>
            <div class="bookmarks">
              <div class="bookmarksContent">
                <div class="contentHeader">
                  <div class="fromUser">
                    <p>@Amanda Shelly</p>
                  </div>
                  <p class="bookmarkedYou">bookmarked your post</p>
                  <p class="bookmarkedDate">4 days ago</p>
                </div>
                <div class="pure-g">
                  <div class="pure-u-1-5 annisImage" style="background-image: url('/images/annis/cmu-0.jpg');"></div>
                  <div class="pure-u-4-5 annisText">
                    <p class="annisTitle">CMU Anniversary</p>
                    <p class="annisDate">Nov 10</p>
                    <p class="annisDescription">"Carnegie Mellon University (CMU) is a private research university based in Pittsburgh, Pennsylvania. Founded in 1900 by Andrew Carnegie as the Carnegie Technical Schools, the university became the Carnegie Institute of Technology in 1912 and began granting four-year degrees. In 1967, the Carnegie Institute of Technology merged with the Mellon Institute of Industrial Research to form Carnegie Mellon University. With its main campus located 3 miles (5 km) from Downtown Pittsburgh, Carnegie Mellon has grown into an international university with over a dozen degree-granting locations in six continents, including campuses in Qatar and Silicon Valley, and more than 20 research partnerships.
                      The university has seven colleges and independent schools which all offer interdisciplinary programs: the College of Engineering, College of Fine Arts, Dietrich College of Humanities and Social Sciences, Mellon College of Science, Tepper School of Business, H. John Heinz III College of Information Systems and Public Policy, and the School of Computer Science.
                      Carnegie Mellon counts 13,961 students from 109 countries, over 105,000 living alumni, and over 5,000 faculty and staff. Past and present faculty and alumni include 20 Nobel Prize laureates, 13 Turing Award winners, 23 Members of the American Academy of Arts and Sciences, 22 Fellows of the American Association for the Advancement of Science, 79 Members of the National Academies, 124 Emmy Award winners, 47 Tony Award laureates, and 10 Academy Award winners."</p>
                    <div class="like-bookmark-container">
                      <div class="outline-icon-container2">
                        <div class="outline-icon-like2">
                          <i class="fas fa-heart"></i>
                        </div>
                      </div>
                      <div class="outline-icon-container2">
                        <div class="outline-icon-bookmark2">
                          <i class="fas fa-bookmark"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--system notifications-->
          <div class="systemNotificationsList">
            <div class="contentBoxTitle"><p>System Notifications</p></div>
            <div class="systemNotifications">
              <div class="systemNotificationsContent">
                <div class="contentHeader">
                  <p class="notificationText">Your anni has passed review</p>
                  <p class="notificationDate">4 days ago</p>
                </div>
                <div class="pure-g">
                  <div class="pure-u-1-5 annisImage" style="background-image: url('/images/annis/cmu-0.jpg');"></div>
                  <div class="pure-u-4-5 annisText">
                    <p class="annisTitle">CMU Anniversary</p>
                    <p class="annisDate">Nov 10</p>
                    <p class="annisDescription">"Carnegie Mellon University (CMU) is a private research university based in Pittsburgh, Pennsylvania. Founded in 1900 by Andrew Carnegie as the Carnegie Technical Schools, the university became the Carnegie Institute of Technology in 1912 and began granting four-year degrees. In 1967, the Carnegie Institute of Technology merged with the Mellon Institute of Industrial Research to form Carnegie Mellon University. With its main campus located 3 miles (5 km) from Downtown Pittsburgh, Carnegie Mellon has grown into an international university with over a dozen degree-granting locations in six continents, including campuses in Qatar and Silicon Valley, and more than 20 research partnerships.
                      The university has seven colleges and independent schools which all offer interdisciplinary programs: the College of Engineering, College of Fine Arts, Dietrich College of Humanities and Social Sciences, Mellon College of Science, Tepper School of Business, H. John Heinz III College of Information Systems and Public Policy, and the School of Computer Science.
                      Carnegie Mellon counts 13,961 students from 109 countries, over 105,000 living alumni, and over 5,000 faculty and staff. Past and present faculty and alumni include 20 Nobel Prize laureates, 13 Turing Award winners, 23 Members of the American Academy of Arts and Sciences, 22 Fellows of the American Association for the Advancement of Science, 79 Members of the National Academies, 124 Emmy Award winners, 47 Tony Award laureates, and 10 Academy Award winners."</p>
                    <div class="like-bookmark-container">
                      <div class="outline-icon-container2">
                        <div class="outline-icon-like2">
                          <i class="fas fa-heart"></i>
                        </div>
                      </div>
                      <div class="outline-icon-container2">
                        <div class="outline-icon-bookmark2">
                          <i class="fas fa-bookmark"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <%- include('footer') %>
  </body>
</html>