<!DOCTYPE html>
<html>
    <body style="font-family:lato;" topmargin="80px" leftmargin="15%" rightmargin="15%">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="USER POST.css" rel="stylesheet" type="text/css">
    
    <div>
        
      <h1>Add a new post</h1>
        
        <p>Type</p>
        
        <div class="pure-u-1 pure-u-md-1-6 custom-select1">
            <select style="width:100%; min-width: 115px">
                <option value="0">Choose type:</option>
                <option value="1">Birthday</option>
                <option value="2">Deathday</option>
                <option value="3">Invention</option>
                <option value="4">Festival</option>
                <option value="5">Day/Event</option>
                <option value="6">Starting Point</option>
            </select>
        </div>

        <p>Title</p>
        
<form class="pure-u-1 pure-u-md-3-4 textarea1">
  <textarea class="textarea_post1" style="width:100%; min-width: 115px">e.g. Vincent van Gogh’s 100th Birthday</textarea>
</form>
        
        <p>Time</p> 
        
<div class="pure-g container">
        <div class="pure-u-1 pure-u-md-1-6 custom-select2">
            <select style="width:100%; min-width: 115px">
                <option value="0">Month</option>
                <option value="1">January</option>
                <option value="2">Febuary</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">Sepetember</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
  
      <div class="pure-u-1 pure-u-md-1-6 custom-select3">
            <select style="width:100%; min-width: 115px">
                <option value="0">Date</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
</div>
        
        
        
        <div class="clearfix">
        </div>
        
        <p>Cover image</p>
        
     
        <span class="upload_post">
            <div class="pure-u-1 pure-u-md-1-2 plus">+</div>
                <br/><br/>Upload from computer
                <br/><br/>or<br/><br/>
          
          <div class="pure-g container">   
                <form class="pure-u-1 pure-u-md-1-2 textarea_post3">
                  <textarea class="textarea_post3" style="width:100%; min-width: 15px"> Add image url here</textarea>
                </form>
            <button class="pure-u-1 pure-u-md-1-4 button_post4">Upload</button> </div>
        </span>
        
        <p>Basic infomation</p>
        
        <form class="pure-u-1 pure-u-md-3-4 textarea_post2">
  <textarea class="textarea_post2" style="width:100%; min-width: 60px">Brief introduction within 300 words (including time, duration, location, related person, influence...)</textarea>
        </form>

        
        <p>Album</p>
        
        <button class="button_post1">Add an image from local</button>
        
        <br>
    
        <button class="button_post2">Submit</button>
        
        <button class="button_post3">Save</button>
        
        <button class="button_post3">Preview</button>
        
</div>        
              
        
        
</body>
</html>