
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
  <link rel="stylesheet" href="jiaqi.css">
  <style>
    .container {
      width: 1040px;
      margin: 0 auto;
    }
    .font-sample {
      font-family: 'Lato', sans-serif;
      font-family: 'Prata', serif;
    }
  </style>
</head>

  <body>
  	<!-- sideBar -->
    <div class="sideBar">
      <p class="sideBarTitle">My Page</p>
      <p class="sideBarItem">Posted Annis</p>
      <p class="sideBarItem">Memories</p>
      <p class="sideBarItem">Marks</p>
    </div>
    
  </body>
</html>