<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400|Prata">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="USER POST.css" rel="stylesheet" type="text/css">
  </head>

  <body>

  <header>
    <div class="navbar-container">
      <div class="mobile-menu-search-container">
        <div id="hamburger-menu-icon">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="20" height="2" rx="1" fill="#C6A48F"/>
            <rect y="14" width="20" height="2" rx="1" fill="#C6A48F"/>
            <rect y="7" width="15" height="2" rx="1" fill="#C6A48F"/>
          </svg>
        </div>


        <div class="mobile-search-icon">
          <i class="fas fa-search"></i>
        </div>
      </div>
      <div class="navbar-left">

        <div class="navbar-logo">
          <svg width="70px" height="52px" viewBox="0 0 70 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-193.000000, -169.000000)">
                <g id="Group" transform="translate(187.000000, 165.000000)">
                  <path d="M43.7959227,20.5904128 L61.8993215,53.1765306 C63.7768138,56.5560168 62.5592072,60.8176398 59.1797211,62.6951321 C58.1398151,63.2728576 56.9698303,63.5760311 55.7802205,63.5760311 L19.573423,63.5760311 C15.7074297,63.5760311 12.573423,60.4420244 12.573423,56.5760311 C12.573423,55.3864214 12.8765965,54.2164366 13.4543221,53.1765306 L31.5577208,20.5904128 C33.4352131,17.2109267 37.6968362,15.9933201 41.0763223,17.8708124 C42.2190027,18.5056349 43.1611002,19.4477324 43.7959227,20.5904128 Z" id="Triangle-Copy" stroke="#C6A48F" transform="translate(37.676822, 36.576031) rotate(-200.000000) translate(-37.676822, -36.576031) "></path>
                  <text id="anni" font-family="Avenir-Light, Avenir" font-size="24" font-weight="300" fill="#C6A48F">
                    <tspan x="33" y="36">anni</tspan>
                  </text>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="navbar-menu">
          <div class="navbar-menu-item">
            <a href="#">Home</a>
          </div>
          <div class="navbar-menu-item">
            <a href="#">Annis</a>
          </div>
          <div class="navbar-menu-item">
            <a href="#">About</a>
          </div>
        </div>
      </div>

      <div class="navbar-middle">
        <div class="navbar-logo">
          <svg width="70px" height="52px" viewBox="0 0 70 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-193.000000, -169.000000)">
                <g id="Group" transform="translate(187.000000, 165.000000)">
                  <path d="M43.7959227,20.5904128 L61.8993215,53.1765306 C63.7768138,56.5560168 62.5592072,60.8176398 59.1797211,62.6951321 C58.1398151,63.2728576 56.9698303,63.5760311 55.7802205,63.5760311 L19.573423,63.5760311 C15.7074297,63.5760311 12.573423,60.4420244 12.573423,56.5760311 C12.573423,55.3864214 12.8765965,54.2164366 13.4543221,53.1765306 L31.5577208,20.5904128 C33.4352131,17.2109267 37.6968362,15.9933201 41.0763223,17.8708124 C42.2190027,18.5056349 43.1611002,19.4477324 43.7959227,20.5904128 Z" id="Triangle-Copy" stroke="#C6A48F" transform="translate(37.676822, 36.576031) rotate(-200.000000) translate(-37.676822, -36.576031) "></path>
                  <text id="anni" font-family="Avenir-Light, Avenir" font-size="24" font-weight="300" fill="#C6A48F">
                    <tspan x="33" y="36">anni</tspan>
                  </text>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>


      <div class="navbar-right">

        <div class="account-photo">
          <!--<span style="font-size: 35px; color: #bdbdbd; font-weight: normal">-->
            <!--<i class="fas fa-circle"></i>-->
        </div>

        
        <!--
        <div class="navbar-button">
          <a href="#" class="button">New Annis</a>
        </div>

        <div class="plus">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="9" width="20" height="2" rx="1" fill="#C6A48F"/>
            <rect x="9" y="20" width="20" height="2" rx="1" transform="rotate(-90 9 20)" fill="#C6A48F"/>
          </svg>

        </div>

        <div class="navbar-notification-icon">
          <i class="fas fa-bell"></i>
        </div>

        <div id="navbar-searchbar">
          <div class="navbar-search-input">
            <input type="text" name="searchbar" placeholder="Search">
          </div>
        </div>


        <div id="navbar-search-icon">
          <i class="fas fa-search"></i>
        </div>

        <script>
            $(document).ready(function(){
                $("#navbar-searchbar").hide();
                $("#navbar-search-icon").click(function(){
                    $("#navbar-searchbar").toggle();
                });
            });
        </script>-->


        <!--<script>-->
            <!--var searchIcon = document.getElementById("navbar-search-icon");-->
            <!--var searchBar = document.getElementById("navbar-searchbar");-->

            <!--searchIcon.onclick = function buttonOnClick() {-->
                <!--searchBar.style.display = "inline-block"; };-->
        <!--</script>-->
      </div>
    </div>

    <div id="mobile-menu">
      <div class="navbar-menu-item">
        <a href="#">Home</a>
      </div>
      <div class="navbar-menu-item">
        <a href="#">Annis</a>
      </div>
      <div class="navbar-menu-item">
        <a href="#">About</a>
      </div>
    </div>

    <script>
        $(document).ready(function(){
            $ ("#mobile-menu").hide();
            $("#hamburger-menu-icon").click(function(){
                $("#mobile-menu").toggle();
            });
        });
    </script>

    <div id="mobile-searchbar">
      <!--<div class="mobile-search-input">-->
        <input type="text" name="searchbar" placeholder="Search">
      </div>
    <!--</div>-->

    <script>
        $(document).ready(function(){
            $ ("#mobile-searchbar").hide();
            $(".mobile-search-icon").click(function(){
                $("#mobile-searchbar").toggle();
            });
        });
    </script>


    <!--<script>-->
        <!--var hamburgerIcon = document.getElementById("hamburger-menu-icon");-->
        <!--var mobileMenu = document.getElementById("mobile-menu");-->

        <!--hamburgerIcon.onclick = function buttonOnClick() {-->
            <!--mobileMenu.style.display = "flex"; };-->
    <!--</script>-->

  </header>   

<div class=post_body>
  <h1>Add a new post</h1>
  <p>Type</p>
        
        <div class="pure-u-1 pure-u-md-1-6 custom-select1">
            <select style="width:100%; min-width: 115px">
                <option value="0">Choose type:</option>
                <option value="1">Birthday</option>
                <option value="2">Deathday</option>
                <option value="3">Invention</option>
                <option value="4">Festival</option>
                <option value="5">Day/Event</option>
                <option value="6">Starting Point</option>
            </select>
        </div>

        <p>Title</p>
        
<form class="pure-u-1 pure-u-md-3-4 textarea1">
  <textarea class="textarea_post1" style="width:100%; min-width: 115px">e.g. Vincent van Gogh’s 100th Birthday</textarea>
</form>
        
        <p>Time</p> 
        
<div class="pure-g container">
        <div class="pure-u-1 pure-u-md-1-6 custom-select2">
            <select style="width:100%; min-width: 115px">
                <option value="0">Month</option>
                <option value="1">January</option>
                <option value="2">Febuary</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">Sepetember</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
  
      <div class="pure-u-1 pure-u-md-1-6 custom-select3">
            <select style="width:100%; min-width: 115px">
                <option value="0">Date</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
</div>
        
        
        
        <div class="clearfix">
        </div>
        
        <p>Cover image</p>
        
     
        <span class="upload_post">
            <div class="pure-u-1 pure-u-md-1-2 post_plus">+</div>
                <br/><br/>Upload from computer
                <br/><br/>or<br/><br/>
          
          <div class="pure-g container">   
                <form class="pure-u-1 pure-u-md-1-2 textarea_post3">
                  <textarea class="textarea_post3" style="width:100%; min-width: 15px"> Add image url here</textarea>
                </form>
            <button class="pure-u-1 pure-u-md-1-4 button_post4">Upload</button> </div>
        </span>
        
        <p>Basic infomation</p>
        
        <form class="pure-u-1 pure-u-md-3-4 textarea_post2">
  <textarea class="textarea_post2" style="width:100%; min-width: 60px">Brief introduction within 300 words (including time, duration, location, related person, influence...)</textarea>
        </form>

        
        <p>Album</p>
        
        <button class="button_post1">Add an image from local</button>
        
        <br>
    
        <button class="button_post2">Submit</button>
        
        <button class="button_post3">Save</button>
        
        <button class="button_post3">Preview</button>
        
</div>        
              
        
        
</body>
</html>