
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}
.container-full {
  width: 100%;
}
.carousel {
  position: relative;
  height: 600px;
  margin-top: 60px;
}
.carousel-scene {
  position: absolute;
  width: 100%;
  height: 600px;
  display: block;
  background-color: #C6A48F;
  background-position: center;
  background-size: cover;
}
.carousel-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 48px 0;
  background-color: rgba(0, 0, 0, .4);
  color: #FFF;
}
.carousel-date {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
  font-family: 'Prata', serif;
  font-size: 36px;
}
.carousel-title {
  margin-left: 6px;
  margin-right: 6px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.carousel-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 6px 0;
  text-align: center;
}
.carousel-dot {
  width: 32px;
  height: 12px;
  display: inline-block;
  margin: 0 3px;
  border-radius: 6px;
  background-color: #BDBDBD;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.carousel-dot-active,
.carousel-dot:hover {
  background-color: #BC8374;
}

.container-content {
  margin: 0 10%;
}
@media only screen and (max-width: 1024px) {
  .container-content {
    margin: 0 5%;
  }
}
@media only screen and (max-width: 790px) {
  .container-content {
    margin: 0 3%;
  }
}
.container-page {
  margin-top: 60px;
}

.page-title {
  margin-left: 6px;
  margin-right: 6px;
  padding: 24px 0;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: #BC8374;
}
.section-title {
  margin-left: 6px;
  margin-right: 6px;
  padding: 24px 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #828282;
}

.page-desc {
  margin-left: 6px;
  margin-right: 6px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333333;
}

.card {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #333333;
  background: #faf5f1;
  transition: all .3s ease-in-out;
}
.card:hover {
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.12);
  /*box-shadow: 0 2px 16px 0 rgba(188,131,116,0.4);*/
}
.card-title {
  margin-bottom: 6px;
  font-family: 'Prata', serif;
  font-size: 24px;
  line-height: 24px;
}
.card-date {
  margin-bottom: 18px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.card-actions {
}
.card-action {
  display: inline-block;
  margin-right: 12px;
  font-size: 18px;
  color: #828282;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.card-action:hover {
  color: #BC8374;
}

.card-pop {
  display: flex;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 24px;
}
.card-pop-image {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: #C6A48F;
  background-position: center;
  background-size: cover;
}
.card-pop-text {
  height: 100%;
  padding: 32px 24px;
}
.card-pop-comment {
  margin-top: 18px;
  display: flex;
}
.card-pop-comment .card-avatar {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #C6A48F;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}
.card-pop-comment .card-text {
  /*width: 80%;*/
}

.card-classic {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
}
.card-classic-image {
  width: 100%;
  min-height: 180px;
  background-color: #C6A48F;
  background-position: center;
  background-size: cover;
}
.card-classic-text {
  padding: 24px 24px;
}