@import 'reset.css';

html {
  overflow-x: hidden;
  /*overflow-y: scroll;*/
  display: block;
}

body {
  font-family: "Prata", "Lato", Georgia, Roboto, Arial;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.2em;
}

/*Main navigation bar*/
header {
  position: fixed;
  top:0;
  z-index: 500;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.navbar-container {
  z-index: 1000;
  display: flex;
  -webkit-align-items: center;
  max-width: 1340px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/*Logo + Menu*/

.navbar-left {
  position: relative;
  z-index: 1000;
  width: 100%;
  /*height: 40px;*/
  float: left;
}

#hamburger-menu-icon {
  display: none;
}

.mobile-search-icon {
  display: none;
}

.navbar-logo {
  z-index: 1000;
  float:left;
  cursor: pointer;
}

.navbar-logo svg {
  transform: scale(.8);
}

.navbar-menu {
  float: left;
  width: 250px;
  height: 100%;
  margin-left: 5%;
}

.navbar-menu-item {
  display: inline-block;
  margin:0;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.navbar-menu-item a {
  text-decoration: none;
  color: #828282;
}

.navbar-menu-item a:hover {
  color: #000;
}

/*.navbar-menu-item a:after {*/
  /*content: "";*/
  /*width: 0;*/
  /*height: 1px;*/
  /*background: #C6A48F;*/
  /*position: absolute;*/
  /*top: 100%;*/
  /*left: 50%;*/
  /*transition: all .8s;*/
/*}*/

/*.navbar-menu-item a:hover:after {*/
  /*left: 0%;*/
  /*width: 100%;*/
/*}*/

/*Mobile logo*/
.navbar-middle {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navbar-middle {
    /*display: block;*/
    width: 100%;
  }

  .navbar-logo {
    transform: scale(.8);
    float: none;
    margin-left: 33.3%;
    margin-right: 33.3%;
    width: 33.3%;

  }

}

/*Search bar + Button set + Account photo*/

.navbar-right {
  float: right;
  z-index: 1000;
  width: 100%;
  height: 40px;
}

/*Navbar searhbar*/

#navbar-search-icon {
  z-index: 1000;
  float: right;
  width: 24px;
  display: inline-block;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

#navbar-searchbar {
  float: right;
  vertical-align: middle;
  margin-top: 7px;
  margin-right: 20px;
  transition: all .5s;
}

.navbar-search-input input {
  z-index: 10000;
  margin-top: 2px;
  margin-left: 5px;
  border: 0;
  outline: none;
  width: 100%;
  height: 20px;
  font-family: 'Lato';
  font-weight: 300;
  font-size: .8em;
  color: #000;
}


/*Navbar notification*/

.navbar-notification-icon {
  display: inline-block;
  float: right;
  width: 24px;
  /*margin-top: 12px;*/
  /*margin-right: 20px;*/
  /*margin-left: 20px;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Navbar New Annis button*/

.navbar-button {
  /*margin-top: 10px;*/
  /*margin-right: 20px;*/
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
  float: right;
}

.navbar-button a {
  text-decoration: none;
  font-size: 12px;
  transition: all .3s ease-in-out;
}

.navbar-button a:hover {
  color: #BC8374;
  /*background-color: #BC8374;*/
}

.button {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: solid 1px #828282;
  border-radius: 10px;
  font-family: 'Lato';
  font-size: .6em;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  transition: all .3s ease-in-out;
}

.button a {
  color: #000;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.button:hover {
  border: 1px solid #BC8374;
}

.plus {
  display: none;
}

/*Navbar account photo*/

.account-photo {
  float: right;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 35px;
  width: 35px;
  background-size: cover;
  border-radius: 50px;
}

.navbar-plus-icon i,
.navbar-notification-icon i,
#navbar-search-icon i {
  font-size: 1.2em;
  color: #bdbdbd;
}

.navbar-plus-icon i:hover,
.navbar-notification-icon i:hover,
#navbar-search-icon i:hover {
  color: #828282;
}

#mobile-menu,
#mobile-searchbar {
  display: none;
}

/*Navbar account menu*/

.navbar-account-menu-outer-container {
  display: block;
  margin-right: 10px;
  height: 100%;
  align-items: center;

}


.navbar-account-menu-arrow-container {
  display: block;
  float: right;
  margin-top: 43px;
  right: 0;
  margin-right: 13px;
  height: 10px;
  width: 10px;
}

.navbar-account-menu-arrow {
  /*position: absolute;*/
  float: right;
  top: 65px;
  right: 0;
  height: 10px;
  width: 10px;
  border-top: 1px solid #C4C4C4;
  border-left: 1px solid #C4C4C4;
  background: #fff;
  transform: rotate(45deg);
}


.navbar-account-menu {
  /*display: block;*/
  float: right;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  padding: 5px;
  background: #fff;
  border: 1px solid #C4C4C4;
  box-shadow: 0 0 5px rgb(0,0,0,.1);


}

.navbar-account-menu-list {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*width: 100px;*/
  font-family: 'Lato';
  font-weight: 300;
  font-size: .8em;
  text-align: center;

}

.navbar-account-menu-list a {
  color: #828282;
  text-decoration: none;
}

.navbar-account-menu-list a:hover {
  text-decoration: underline;
}


/*Nav bar media query mobile*/



@media only screen and (max-width: 800px) {
  header {
    /*height: 90px;*/
    box-shadow: 0 4px 10px rgb(0,0,0,.1);
    z-index: 1000;
  }

  .mobile-menu-search-container {
    display: flex;
    height: 40px;
    width: 100%;
  }

  .navbar-search-input {
    display: none;
  }

  #hamburger-menu-icon {
    display: inline-block;
    /*position: absolute;*/
    /*top: 18px;*/
    margin-right: 5px;
    padding: 10px 5px 10px 5px;
    width: 30px;
    height: 30px;
    /*transform: scale(1.6);*/
  }

  .mobile-search-icon {
    display: inline-block;
    /*position: absolute;*/
    /*left: 80px;*/
    /*top: 17px;*/
    /*padding: 10px 0 10px 10px;*/
    margin-right: 5px;
    padding: 10px 5px 10px 5px;
    /*transform: scale(1.6);*/
    width: 30px;
    height: 30px;
  }

  .mobile-search-icon i {
    color: #C6A48F;
  }


  #navbar-search-icon {
    display: none;
  }

  .navbar-right {
    width: 100%;
  }


  .navbar-button {
    display: none;
  }

  .plus {
    display: inline-block;
    float: right;
    width: 24px;
    height: 30px;
    margin-right: 5px;
    padding: 10px 5px 10px 5px;
  }

  .plus svg {
    /*transform: scale(1.6);*/
  }

  .navbar-notification-icon {
    margin-right: 10px;
    padding: 10px 5px 10px 5px;

  }

  .navbar-plus-icon i,
  .navbar-notification-icon i {
    color: #C6A48F;
  }

  .navbar-plus-icon i:hover
  .navbar-notification-icon i:hover {
    color: #C6A48F;
  }

  .navbar-left {
    display: none;
    /*height: 40px;*/
    /*width: 60%;*/
  }

  .navbar-menu {
    display:none;
  }

  .navbar-menu-item:hover + .navbar-container {
    height: 200px;
  }

  #mobile-menu {
    display: flex;
    flex-direction: column;
    background: #fff;
  }

  .navbar-menu-item {
    transform: scale(1.5);
    margin-top: 20px;
    margin-bottom: 20px;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  #mobile-searchbar {
    display: flex;
    height: 80px;
    background: #fff;
  }

  /*.mobile-search-input {*/
    /*background: #00B7FF;*/
    /*border-bottom: 1px solid #BDBDBD;*/


  /*}*/

  #mobile-searchbar input {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 40px;
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.2em;
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
  }


  /*.hamburger-menu-icon:hover .mobile-menu {*/
    /*display: flex;*/
  /*}*/




}

/*Cover*/

.main-body {
  display: flex;
  flex-direction: column;
  height: 660px;
}

.annis-cover {
  display: flex;
  height: 700px;
  padding-top: 20px;
}

@keyframes cover-triangle-appear {
  0% {opacity: 0;}
  100% {opacity: 1;}

}


.cover-front-top-triangle {
  position: absolute;
  z-index: 600;
  left: 25%;
  top:-250px;
  transform: rotateZ(-25deg) scale(1);
  animation: cover-triangle-appear 1s ease-in-out;
}


.cover-front-bottom-triangle {
  position: absolute;
  z-index: 400;
  left: -180px;
  top:30%;
  transform: rotateZ(-10deg) scale(1.2);
  animation: cover-triangle-appear 1s ease-in-out;
}


.cover-img-container {
  z-index: 100;
  margin-top: 80px;
  left: 0;
  width: 55%;
  max-height: 600px;
  overflow: hidden;
  animation: cover-img-scale 1.5s .1s ease-in-out;
  /*background-color: aqua;*/
}

@keyframes cover-img-scale {
  0% {padding-top: 20px; opacity: 0;}
  100% {padding-top: 0; opacity: 1;}

}

.cover-img-container img {
  float: right;
  transform: scale(1);
}



.cover-back-right-triangle img{
  position: absolute;
  z-index: -1000;
  top: 30%;
  left: 32%;
  transform: rotateZ(-30deg) scale(.6);
  animation: cover-triangle-appear 1s .8s ease-in-out;

}

.cover-back-left-triangle img{
  position: absolute;
  z-index: -1000;
  top: 20%;
  left: -40px;
  animation: cover-triangle-appear 2s ease-in-out;
  transform: rotateZ(-100deg) scale(.6);
}

@media only screen and (max-width: 1024px) {
  .cover-back-left-triangle,
  .cover-front-top-triangle,
  .cover-back-right-triangle,
  .cover-front-bottom-triangle {
    display: none;
  }

}

@media only screen and (max-width: 800px) {
  .main-body {
    height: 100%;
  }
  .annis-cover {
    height: 200%;
  }
}

/*Cover title*/

.cover-title-container {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  margin-left: 60px;
  right: 0;
  width: 45%;
  /*height: 100%;*/
  animation: cover-title 1.5s ease-in-out;

}

@keyframes cover-title {
  0% {opacity: 0; }
  100% {opacity: 100%}

}


.cover-title-number-container {
  display: flex;
  flex-flow: row;
  margin-top: 50px;
  margin-left: 10%;
  animation: cover-title-number 1.5s ease-in-out;

}

@keyframes cover-title-number {
  0% {margin-left: 5%;}
  100% {margin-left:10%}
}

.cover-title-number {
  font-family: "Lato";
  font-size: 4.1em;
  font-weight: 100;
  color: #000;
}

.cover-title-number-th {
  margin-top: -15px;
  margin-left: 15px;
  font-family: Prata, Georgia;
  font-size: 2em;
  font-weight: 100;
  color: #000;
}


.cover-title-text {
  margin-top: 40px;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 5%;
  background: #DCCCBB;
  font-family: Prata, Georgia;
  font-size: 2em;
  line-height: 1.2em;
  color: #000;
  /*max-width: 300px;*/
}

.cover-title-date {
  /*position: relative;*/
  padding-right: 20%;
  right:0;
  margin-top: 30px;
  font-family: "Lato";
  font-weight: 100;
  font-size: 3em;
  color: #C6A48F;
  text-align: right;
  animation: cover-title-date 1.5s ease-in-out;
}

@keyframes cover-title-date {
  0% {padding-right: 10%;}
  100% {padding-right:20%}

}


@media only screen and (max-width: 1024px) {
  .cover-title-container {
    padding-top: 5%;
  }
  .cover-title-number {
    font-size: 3.5em;
  }
  .cover-title-number-th {
    font-size: 1.5em;
  }

  .cover-title-text {
    font-size: 1.8em;
  }
  .cover-title-date {
    font-size: 2em;
  }
}


@media only screen and (max-width: 800px) {
  .annis-cover {
    display: block;
    width: 100%;
  }
  .cover-img-container {
    margin-right: 0;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    max-height: 800px;
  }

  .cover-img-container img {
    width: 100%;
  }

  .cover-background {
    display: none;
    animation: none;
  }

  .cover-front-bottom-triangle {
    display: none;
  }

  .cover-title-container {
    /*z-index: 20000;*/
    margin-top:0;
    padding-left: 20px;
    float: right;
    width: 100%;
    height: 100%;
    /*background: rgb(255,255,255,.8);*/
    animation: none;
    text-align: center;
  }

  .cover-title-number-container {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    align-items: center;
    animation: none;
  }

  .cover-title-number {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 100%;
    text-align: right;
    /*font-size: 5em;*/
    animation: none;
  }

  .cover-title-number-th {
    /*font-size: 2em;*/
    width: 100%;
    text-align: left;
    margin: 0;
  }

  .cover-title-text {
    /*font-size: 3em;*/
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
  }

  .cover-title-date {
    margin-right: auto;
    margin-left: auto;
    padding-right:0;
    text-align: center;
    /*font-size: 3em;*/
    /*color: #000;*/
    animation: none;
  }

}


/*Cover buttons*/

/*.button-container {*/
  /*display: flex;*/
/*}*/

.cover-slider-container {
  margin-top: 10%;
  margin-left: 10%;
  margin-right:10%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 4px 5px rgb(0,0,0,.1);
  max-width: 300px;
  border: 1px solid #C6A48F;
  background: #fff;
  animation: slider-container 1.5s ease-in-out;
}

@keyframes slider-container {
  0% {opacity: 0; margin-left: 0%;}
  100% {opacity: 100%; margin-left: 10%;}

}

/*.button-container {*/
  /*display: flex;*/
  /*margin-top: 40px;*/
  /*!*background: aqua;*!*/
  /*max-width: 200px;*/
/*}*/

.button-slider-icon {
  margin-left: 2px;
  width: 60px;
  height: 60px;
  border: 1px solid #C6A48F;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0 0 5px rgb(0,0,0,.2);

}
.button-slider-icon i {
  text-align: center;
  padding-top: 16px;
  padding-left: 19px;
  align-items: center;
  font-size: 1.3em;
  color: #C6A48F;
  text-align: center;
}

.slider-background {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  height: 60px;
  border-radius: 100px;
  background: #F2F2F2;
  box-shadow:inset 0 0 5px rgb(0,0,0,.1);
}


.celebrate-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  max-width: 250px;
  text-align: center;
}

.button-text-container {
  padding-top: 20px;
}

.button-text-container,
.celebrate-text {
  padding-left: 10px;
  font-family: 'Lato';
  font-size: .8em;
  color: #828282;

}

@media only screen and (max-width: 800px) {
  .cover-slider-container {
    /*margin-top: 30px;*/
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*padding-top: 60px;*/
    padding-left: 0;
    padding-right: 0;
    background: none;
    border: none;
    box-shadow: none;
    animation: none;
  }

  .button-slider-icon i {
    padding-left: 0;
  }

}


/*.button-mark-it-icon:hover {*/
  /*!*transform: scale(1.2);*!*/
  /*!*transition: all 1s ease-in-out;*!*/
  /*color: #C6A48F;*/
/*}*/

/*.button-mark-it-icon:hover>.button-triangle {*/
  /*transform: scale(.45);*/
/*}*/



/*.button-text-container a {*/
  /*text-decoration: none;*/
  /*color: #000;*/
/*}*/

/*.button-subtitle {*/
  /*font-family: Lato;*/
  /*font-size: 12px;*/
  /*color: #BDBDBD;*/
/*}*/

/*@keyframes button-triangle-1 {*/
  /*0%{transform:scale(.4) rotateZ(-20deg);}*/
  /*100%{transform:scale(.4) rotateZ(-380deg);}*/
/*}*/

/*@keyframes button-triangle-2 {*/
  /*0%{transform:scale(.4) rotateZ(20deg);}*/
  /*100%{transform:scale(.4) rotateZ(-340deg);}*/
/*}*/

/*.button-triangle {*/
  /*margin-top: -25%;*/
  /*margin-left: -113%;*/
  /*z-index: -1000;*/
  /*transform: scale(.35) rotateZ(-20deg);*/
  /*!*background: blue;*!*/
  /*!*animation: button-triangle-1 10s 0s linear infinite;*!*/
 /*}*/

/*.button-triangle-2 {*/
  /*margin-top: -25%;*/
  /*margin-left: -113%;*/
  /*z-index: -1000;*/
  /*transform: scale(.35) rotateZ(20deg);*/
  /*!*background: blue;*!*/
  /*animation: button-triangle-2 10s 0s linear infinite;*/
/*}*/

/*Cover background color*/

@keyframes cover-title-text-appear {
  0% {width: 10%;}
  75% {width: 72%;}
  100% {width: 70%;}
}

.cover-background {
  position: absolute;
  z-index: -50000;
  display: block;
  top: 15%;
  width: 70%;
  height: 60%;
  background-color: #f2f2f2;
  animation: cover-title-text-appear 2.5s .1s ease-out;
}

@media only screen and (max-width: 1024px) {
  .cover-background {
    display: none;
  }

  .cover-slider-container {

    animation: none;
  }
}

@media only screen and (max-width: 800px) {
  .cover-background {
    display: none;
  }

}


/*Like bookmark edit buttons*/

.like-bookmark-edit-container {
  display: flex;
  float: right;
  padding-right: 60px;
  margin-bottom: 10px;
  height: 30px;
}

.outline-icon-container {
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #BDBDBD;
  border-radius: 50px;
  background: rgb(255,255,255,.5);
}

.outline-icon-like {
  margin-top: 6px;
  margin-left: 8px;
}

.outline-icon-bookmark {
  padding-top: 5px;
  padding-left: 10px;
}

.outline-icon-edit {
  margin-top: 5px;
  margin-left: 8px;
}

.outline-icon-like i,
.outline-icon-edit i,
.outline-icon-bookmark i {
  font-size: .8em;
  color: #BDBDBD;
  text-align: center;
  vertical-align: center;
}

.outline-icon-like i:hover,
.outline-icon-edit i:hover,
.outline-icon-bookmark i:hover {
  color: #C6A48F;
}

@media only screen and (max-width: 800px) {
  .like-bookmark-edit-container {
    position: absolute;
    display: block;
    transform: scale(1.2);
    top: 10%;
    left: 5%;
  }

  .outline-icon-container {
    margin-top: 20px;
    background: rgb(0,0,0,.3);
    border: 1px solid #fff;
  }

  .outline-icon-like i,
  .outline-icon-edit i,
  .outline-icon-bookmark i {
    color: #fff;
  }
}




/*Annis detail and comment container*/

.detail-page-main-body {
  /*height: 100%;*/
  margin-top: 50px;
  border-top: 1px solid #DCCCBB;
}

.anni-and-memo-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  /*height: 100%;*/

}

.anni-container {
  padding-left: 5%;
  padding-right: 5%;
}

/*.anni-detail-container {*/
  /*!*height: 100%;*!*/
  /*!*background: #00B7FF;*!*/
/*}*/

.content-container{
  margin-top: 60px;
}

.content-title {
  font-family: 'Lato';
  font-size: .8em;
  color: #BDBDBD;
}

.basic-info-content {
  margin-top: 15px;
  padding-right: 20px;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1em;
  color: #000;
  line-height: 1.4em;
}

/*Album*/

.album-container {
  clear: both;
  overflow: hidden;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  /*align-items: center;*/
  height: auto;
  width: 100%;
}

.album-column {
  /*padding: 0 2px;*/
  width: 46%;
  /*height: 100%;*/
}



.album-img-container {
  float: left;
  margin-bottom: 10px;
  margin-left: 1%;
  margin-right: 1%;
  width: 46%;
  height: 192px;
  overflow: hidden;
  vertical-align: center;
}

.album-img-container:nth-child(1) {
  height: 394px;
}



@media only screen and (max-width: 600px) {
  .album-img-container {
    width: 100%;
  }
}
/*.album-first-img-container {*/
  /*margin-bottom: 10px;*/
  /*height: 394px;*/
  /*background-color: white;*/
  /*overflow: hidden;*/
/*}*/



.first-img,
.album-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: .8;
  vertical-align: center;
}

/*.first-img,*/
/*.album-img {*/
  /*width: 100%;*/

/*}*/

/*.first-img:hover,*/
.album-img:hover {
  transform: scale(1.03);
  opacity: 1;
  transition: all .5s .1s ease-in-out;
}

/*.album-column-right {*/
  /*width: 333px;*/
  /*height: 100%;*/
/*}*/



/*Album detail popup*/

@keyframes album-detail-desktop {
  0% {top: 1100px; opacity: 0;}
  80% {top: 990px; opacity: 100%;}
  100% {top:1000px;}

}

.album-detail-popup-container {
  position: absolute;
  z-index: 300;
  overflow: hidden;
  top: 1000px;
  left:50%;
  margin-left: -28rem;
  /*margin-left: 2%;*/
  /*padding-left: 2%;*/
  /*padding-right: 2%;*/
  width: 550px;
  height: auto;
  max-height: 700px;
  background: #00B7FF;
  /*border-radius: 10px;*/
  box-shadow: 0 0 5px rgb(0,0,0,.1);
  animation: album-detail-desktop .8s ease-in-out;
}



.album-detail-popup-container i{
  position: absolute;
  z-index: 400;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  color: rgb(255 255 255);
  opacity: .5;
  font-size: 1.5em;
}

.album-detail-popup-container i:hover{
  opacity: 1;
}



.album-detail-popup-img-container {
  position: relative;
  height: 600px;

}

.album-detail-popup-img-container .album-img {
  opacity: 1;
  overflow: scroll;
}

.album-detail-popup-img-container .album-img:hover {
  transform: none;
}



.album-img-popup {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.album-detail-popup-caption {
  position: relative;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  font-family: 'Lato';
  font-size: .8em;
  line-height: 1.3em;
  color: #333;
  background: #F2F2F2;
}

@keyframes album-detail-mobile {
  0% {top: 1600px; opacity: 0;}
  80% {top: 1490px; opacity: 100%;}
  100% {top:1500px;}

}

@media only screen and (max-width: 800px) {
  .album-detail-popup-container {
    width: 100%;
    top: 1500px;
    /*bottom: 50%;*/
    left: 0;
    right: 0;
    margin:0;
    animation: album-detail-mobile .8s ease-in-out;
  }

}


/*See more*/

.see-more-container {
  margin-top: 10px;
}

.see-more-triangle {
  transform: scale(.1);
}

.see-more-text {
  font-family: "Lato";
  font-size: .8em;
  color: #828282;
  text-align: center;
}


/*Memo*/

.memo-container {
  width: 100%;
  height: 92vh;
  /*margin-left: 10px;*/
  background: #F2F2F2;
  position: sticky;
  position: -webkit-sticky;
  top:60px;
  overflow-y: scroll;


}

.add-memo {
  height: 50px;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
  background: #F2F2F2;
  border-bottom: 1px solid #E5E5E5;
  position: sticky;
  position: -webkit-sticky;
  top:0;
}

.input-box {
  display: flex;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  overflow: hidden;
  height: 45px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  background: #fff;
}

.input-box input,
.input-box textarea,
.input-box select {
  padding-left: 10px;
  border: 0;
  outline: none;
  width: 100%;
  height: 100%;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #000;
}

.input-box textarea {
  padding: 14px 10px;
}
.input-box-l {
  height: 240px;
}

.input-group {
  margin-bottom: 18px;
}
.input-group label {
  display: block;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.memo-send-icon {
  float: right;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 5%;
  margin-right: 5%;
}



/*Hot memos*/

.hot-memos {
  margin-top: 15px;
}

.memo-type {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.memo-type h2 {
  font-family: 'Lato';
  font-size: .8em;
  color: #828282;

}

.no-comment {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato';
  font-size: .8em;
  color: #BDBDBD;
  text-align: center;
}

/*Memo card*/



.memo-original {
  display: flex;
}

.memo-reply-container {
  flex-direction: column;
  height: 100%;
}

.reply-input-container {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  border-left: 1px solid #E5E5E5;
}


.memo-reply {
  display: flex;
  padding: 3% 0 3% 3%;
  border-left: 1px solid #E5E5E5;
}

.memo-card {
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}

.memo-account-photo-container {
  width: 35px;
}

.memo-text-container {
  padding-left: 15px;
  width: 100%;
}

.user-name p {
  display: inline;
  font-family: 'Lato';
  font-size: .8em;
  color: #000;
}

.memo-time {
  font-family: 'Lato';
  font-size: .6em;
  color: #BDBDBD;
}

.memo-content {
  margin-top: 5px;

}

.memo-content p {
  display: inline;
  font-family: 'Lato';
  font-size: .8em;
  line-height: 1.3em;
  color: #333;
}

.memo-like-and-comment {
  float: right;
  margin-top: 10px;
}

.memo-like,
.memo-comment,
.memo-icon,
.memo-stat {
  display: inline-block;
}

.memo-icon {
  padding-left: 15px;
}

.memo-icon i,
.memo-send-icon i {
  font-size: .8em;
  color: #bdbdbd;
}

.memo-icon i:hover,
.memo-send-icon i:hover {
  color: #C6A48F;
}

.memo-stat {
  font-family: "Lato";
  font-size: .8em;
  color: #BDBDBD;
}

/*Recent memos*/

.recent-memos {
  border-top: 1px solid #E5E5E5;
}

@media only screen and (max-width: 800px) {
  .detail-page-main-body {
    margin-top: 80px;
    margin-left: 0;
    margin-right: auto;
    border-top: 1px solid #DCCCBB;
  }

  .memo-container {
    margin-top: 50px;
    margin-left: 0;
    padding-bottom: 20px;
    /*padding-right: 10%;*/
    height: 100%;
  }

  .add-memo {
    padding-left: 5%;
    padding-right: 5%;
  }

  .memo-type {
    padding-left: 5%;
    padding-right: 5%;
  }

  .reply-input-container {
    padding-right: 0;
  }

}









/*Log in and sign up page*/
.sign-up-log-in-page-container {
  display: flex;
  height: 100vh;
  font-family: 'Lato';
}
.sign-up-img-container {
  width: 50%;
}

@media only screen and (max-width: 800px){
  .sign-up-img-container {
    display: none;
  }

}

.sign-up-log-in-img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.sign-up-log-in-page-content-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
}
.sign-up-log-in-page-title {
  font-weight: 200;
  font-size: 24px;
  color:#000;
  text-align: center;
}

.sign-up-log-in-page-logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  height: 50px;
}

.sign-up-log-in-page-logo svg {
  margin-left: -10px;
}

.sign-up-input-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 333px;
}

.sign-up-input {
  margin-top: 50px;
  border-bottom: 1px solid #C4C4C4;

}

.sign-up-input input {
  font-size: .8em;
  font-weight: 200;
  color: #000;
  background: none;
  border: none;
  outline: none;
}

.sign-up-log-in-page-button-container {
  padding-top: 80px;

}

.sign-up-log-in-page-button {
  margin-left: auto;
  margin-right: auto;
  padding-top: 11px;
  padding-bottom: 11px;
  background: #DCCCBB;
  border-radius: 10px;
  width: 200px;
  height: 22px;
  text-align: center;
}

.sign-up-log-in-page-button a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.sign-up-log-in-page-button:hover {
  background: #C6A48F;
  transition: all .2s ease-in-out;
}


.have-an-account {
  margin-top: 30px;
  color: #828282;
  font-size: .8em;
  text-align: center;
}

.have-an-account a {
  color: #C6A48F;
  text-decoration: none;
}

.have-an-account a:hover {
  text-decoration: underline;
}

.remember-me-forget-password-container {
  margin-top: 20px;
}

.remember-me {
  display: inline-block;
  float: left;
  color: #828282;
  font-size: .8em;
}

.remember-me span {
  padding-left: 10px;
}

.forget-password {
  display: inline-block;
  float: right;

}

.forget-password a {
  font-size: .8em;
  color: #C6A48F;
  text-decoration: none;
}

.forget-password a:hover {
  text-decoration: underline;
}



/*Footer*/

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #DCCCBB;
  margin-top: 105px;
  height: 50px;
  font-family: "Lato";
  font-size: .8em;
  color: #C6A48F;
  text-align: center;
}

.web-footer {
  display: block;
}

.mobile-footer {
  display: none;
}

@media only screen and (max-width: 800px) {
  .mobile-footer {
    display: block;
    padding-left: 5%;
    padding-right: 5%;

  }
  .web-footer {
    display: none;
  }
}

/* FIX */

.navbar-el {
  margin-left: 12px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.input-form input {
  padding: 4px 0;
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}
.btn-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 200px;
  height: 22px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background: #DCCCBB;
  color: #fff;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #C6A48F;
}